# SkillFactory
## Введение в ML, введение в sklearn

В этом задании мы с вами рассмотрим данные с конкурса [Задача предсказания отклика клиентов ОТП Банка](http://www.machinelearning.ru/wiki/index.php?title=%D0%97%D0%B0%D0%B4%D0%B0%D1%87%D0%B0_%D0%BF%D1%80%D0%B5%D0%B4%D1%81%D0%BA%D0%B0%D0%B7%D0%B0%D0%BD%D0%B8%D1%8F_%D0%BE%D1%82%D0%BA%D0%BB%D0%B8%D0%BA%D0%B0_%D0%BA%D0%BB%D0%B8%D0%B5%D0%BD%D1%82%D0%BE%D0%B2_%D0%9E%D0%A2%D0%9F_%D0%91%D0%B0%D0%BD%D0%BA%D0%B0_%28%D0%BA%D0%BE%D0%BD%D0%BA%D1%83%D1%80%D1%81%29)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (12,5)

### Грузим данные

Считаем описание данных

In [2]:

df_descr = pd.read_csv('data/otp_description.csv', sep='\t', encoding='utf8')

In [3]:
df_descr

,ПОЛЕ,ОПИСАНИЕ
0,AGREEMENT_RK,уникальный идентификатор объекта в выборке
1,AGE,возраст клиента
2,SOCSTATUS_WORK_FL,социальный статус клиента относительно работы ...
3,SOCSTATUS_PENS_FL,социальный статус клиента относительно пенсии ...
4,GENDER,"пол клиента (1- женщины, 0-мужчины)"
5,CHILD_TOTAL,количество детей клиента
6,DEPENDANTS,количество иждивенцев клиента
7,EDUCATION,образование
8,MARITAL_STATUS,семейное положение
9,GEN_INDUSTRY,отрасль работы клиента
10,GEN_TITLE,должность
11,ORG_TP_STATE,форма собственности компании
12,ORG_TP_FCAPITAL,отношение к иностранному капиталу
13,JOB_DIR,направление деятельности в нутри компании
14,FAMILY_INCOME,семейный доход (несколько категорий)
15,PERSONAL_INCOME,личный доход клиента (в рублях)
16,REG_ADDRESS_PROVINCE,область регистрации клиента
17,FACT_ADDRESS_PROVINCE,область фактического пребывания клиента
18,POSTAL_ADDRESS_PROVINCE,почтовый адрес область
19,TP_PROVINCE,"область торговой точки, где клиент брал послед..."
20,REGION_NM,регион РФ
21,REG_FACT_FL,адрес регистрации и адрес фактического пребыва...
22,FACT_POST_FL,адрес фактического пребывания клиента и его по...
23,REG_POST_FL,адрес регистрации клиента и его почтовый адрес...
24,REG_FACT_POST_FL,"почтовый, фактический и адрес регистрации совп..."
25,REG_FACT_POST_TP_FL,"область регистрации, фактического пребывания, ..."
26,FL_PRESENCE_FL,"наличие в собственности квартиры (1 - есть, 0 ..."
27,OWN_AUTO,кол-во автомобилей в собственности
28,AUTO_RUS_FL,наличие в собственности автомобиля российского...
29,HS_PRESENCE_FL,наличие в собственности загородного дома (1 - ...
30,COT_PRESENCE_FL,"наличие в собственности котеджа (1 - есть, 0 -..."
31,GAR_PRESENCE_FL,"наличие в собственности гаража (1 - есть, 0 - ..."
32,LAND_PRESENCE_FL,наличие в собственности земельного участка (1 ...
33,CREDIT,сумма последнего кредита клиента (в рублях)
34,TERM,срок кредита
35,FST_PAYMENT,первоначальный взнос (в рублях)
36,DL_DOCUMENT_FL,в анкете клиент указал водительское удостовере...
37,GPF_DOCUMENT_FL,"в анкете клиен указал ГПФ (1 - указал, 0 - не ..."
38,FACT_LIVING_TERM,количество месяцев проживания по месту фактиче...
39,WORK_TIME,время работы на текущем месте (в месяцах)
40,FACT_PHONE_FL,наличие в заявке телефона по фактическому мест...
41,REG_PHONE_FL,наличие в заявке телефона по месту регистрации
42,GEN_PHONE_FL,наличие в заявке рабочего телефона
43,LOAN_NUM_TOTAL,количество ссуд клиента
44,LOAN_NUM_CLOSED,количество погашенных ссуд клиента
45,LOAN_NUM_PAYM,"количество платежей, которые сделал клиент"
46,LOAN_DLQ_NUM,"количество просрочек, допущенных клиентом"
47,LOAN_MAX_DLQ,"номер максимальной просрочки, допущенной клиентом"
48,LOAN_AVG_DLQ_AMT,средняя сумма просрочки (в рублях)
49,LOAN_MAX_DLQ_AMT,максимальная сумма просрочки (в рублях)
50,PREVIOUS_CARD_NUM_UTILIZED,количество уже утилизированных карт ( если пус...

Считаем обучающую выборки и тестовую (которую мы как бы не видим)

In [40]:
df_train = pd.read_csv('data/otp_train.csv', sep='\t', encoding='utf8')

In [41]:
df_train.shape

(15223, 52)

In [42]:
df_test = pd.read_csv('data/otp_test.csv', sep='\t', encoding='utf8')

In [43]:
df_test.shape

(14910, 52)

In [44]:
df_train.head()

,AGREEMENT_RK,TARGET,AGE,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,GENDER,CHILD_TOTAL,DEPENDANTS,EDUCATION,MARITAL_STATUS,...,REG_PHONE_FL,GEN_PHONE_FL,LOAN_NUM_TOTAL,LOAN_NUM_CLOSED,LOAN_NUM_PAYM,LOAN_DLQ_NUM,LOAN_MAX_DLQ,LOAN_AVG_DLQ_AMT,LOAN_MAX_DLQ_AMT,PREVIOUS_CARD_NUM_UTILIZED
0,59910150,0,49,1,0,1,2,1,Среднее специальное,Состою в браке,...,0,1,1,1,6,2,1,1580,1580,NaN
1,59910230,0,32,1,0,1,3,3,Среднее,Состою в браке,...,0,1,1,1,6,1,1,4020,4020,NaN
2,59910525,0,52,1,0,1,4,0,Неполное среднее,Состою в браке,...,0,1,2,1,11,0,0,0,0,NaN
3,59910803,0,39,1,0,1,1,1,Высшее,Состою в браке,...,1,1,1,1,6,3,1,"1589,92333333333",1590,NaN
4,59911781,0,30,1,0,0,0,0,Среднее,Состою в браке,...,0,1,2,1,16,2,1,"1152,15",2230,NaN

In [83]:
df_regions = pd.read_csv('data/regions.csv', encoding='utf8')
df_regions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 3 columns):
ID              85 non-null int64
Region_name     85 non-null object
Region_class    85 non-null object
dtypes: int64(1), object(2)
memory usage: 2.1+ KB

In [84]:
df_regions.head()

   ID           Region_name Region_class
0  10    Московская область           1A
1  18                Москва           1A
2  29       Санкт-Петербург           1A
3  32    Краснодарский край           1A
4   1  Белгородская область           2A

## Объединим две выборки

Так как пока мы пока не умеем работать sklearn  Pipeline, то для того, чтобы после предобработки столбцы в двух выборках находились на своих местах.

Для того, чтобы в дальнейшем отделить их введем новый столбец "sample"

In [45]:
df_train.loc[:, 'sample'] = 'train'
df_test.loc[:, 'sample'] = 'test'

In [46]:
df = df_test.append(df_train).reset_index(drop=True)

In [47]:
df.shape

(30133, 53)

### Чуть-чуть посмотрим на данные

Посмотрим типы данных и их заполняемость

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30133 entries, 0 to 30132
Data columns (total 53 columns):
AGREEMENT_RK                  30133 non-null int64
TARGET                        30133 non-null int64
AGE                           30133 non-null int64
SOCSTATUS_WORK_FL             30133 non-null int64
SOCSTATUS_PENS_FL             30133 non-null int64
GENDER                        30133 non-null int64
CHILD_TOTAL                   30133 non-null int64
DEPENDANTS                    30133 non-null int64
EDUCATION                     30133 non-null object
MARITAL_STATUS                30133 non-null object
GEN_INDUSTRY                  27420 non-null object
GEN_TITLE                     27420 non-null object
ORG_TP_STATE                  27420 non-null object
ORG_TP_FCAPITAL               27425 non-null object
JOB_DIR                       27420 non-null object
FAMILY_INCOME                 30133 non-null object
PERSONAL_INCOME               30133 non-null object
REG_ADDRESS_PROVINCE          30133 non-null object
FACT_ADDRESS_PROVINCE         30133 non-null object
POSTAL_ADDRESS_PROVINCE       30133 non-null object
TP_PROVINCE                   29543 non-null object
REGION_NM                     30131 non-null object
REG_FACT_FL                   30133 non-null int64
FACT_POST_FL                  30133 non-null int64
REG_POST_FL                   30133 non-null int64
REG_FACT_POST_FL              30133 non-null int64
REG_FACT_POST_TP_FL           30133 non-null int64
FL_PRESENCE_FL                30133 non-null int64
OWN_AUTO                      30133 non-null int64
AUTO_RUS_FL                   30133 non-null int64
HS_PRESENCE_FL                30133 non-null int64
COT_PRESENCE_FL               30133 non-null int64
GAR_PRESENCE_FL               30133 non-null int64
LAND_PRESENCE_FL              30133 non-null int64
CREDIT                        30133 non-null object
TERM                          30133 non-null int64
FST_PAYMENT                   30133 non-null object
DL_DOCUMENT_FL                30133 non-null int64
GPF_DOCUMENT_FL               30133 non-null int64
FACT_LIVING_TERM              30133 non-null int64
WORK_TIME                     27416 non-null float64
FACT_PHONE_FL                 30133 non-null int64
REG_PHONE_FL                  30133 non-null int64
GEN_PHONE_FL                  30133 non-null int64
LOAN_NUM_TOTAL                30133 non-null int64
LOAN_NUM_CLOSED               30133 non-null int64
LOAN_NUM_PAYM                 30133 non-null int64
LOAN_DLQ_NUM                  30133 non-null int64
LOAN_MAX_DLQ                  30133 non-null int64
LOAN_AVG_DLQ_AMT              30133 non-null object
LOAN_MAX_DLQ_AMT              30133 non-null object
PREVIOUS_CARD_NUM_UTILIZED    600 non-null float64
sample                        30133 non-null object
dtypes: float64(2), int64(32), object(19)
memory usage: 12.2+ MB

Видим, что часть данных - object, скорее всего стоки.


Давайте выведем эти значения для каждого столбца

In [49]:
for i in df_train.columns: # перебираем все столбцы
    if str(df_train[i].dtype) == 'object': # если тип столбца - object
        print('='*10)
        print(i) # выводим название столбца
        print(set(df_train[i])) # выводим все его значения (но делаем set - чтоб значения не повторялись)
        print('\n') # выводим пустую строку

==========
EDUCATION
{'Высшее', 'Ученая степень', 'Среднее специальное', 'Два и более высших образования', 'Среднее', 'Неполное среднее', 'Неоконченное высшее'}


==========
MARITAL_STATUS
{'Состою в браке', 'Разведен(а)', 'Не состоял в браке', 'Гражданский брак', 'Вдовец/Вдова'}


==========
GEN_INDUSTRY
{nan, 'Юридические услуги/нотариальные услуги', 'Государственная служба', 'Нефтегазовая промышленность', 'Энергетика', 'Строительство', 'Химия/Парфюмерия/Фармацевтика', 'Сельское хозяйство', 'Туризм', 'Образование', 'Металлургия/Промышленность/Машиностроение', 'Наука', 'Страхование', 'Здравоохранение', 'Ресторанный бизнес/Общественное питание', 'Управляющая компания', 'Логистика', 'Коммунальное хоз-во/Дорожные службы', 'Подбор персонала', 'Другие сферы', 'Информационные технологии', 'Транспорт', 'ЧОП/Детективная д-ть', 'Сборочные производства', 'Недвижимость', 'Развлечения/Искусство', 'Торговля', 'СМИ/Реклама/PR-агенства', 'Салоны красоты и здоровья', 'Информационные услуги', 'Маркетинг', 'Банк/Финансы'}


==========
GEN_TITLE
{'Высококвалифиц. специалист', nan, 'Специалист', 'Индивидуальный предприниматель', 'Рабочий', 'Другое', 'Руководитель низшего звена', 'Руководитель среднего звена', 'Работник сферы услуг', 'Военнослужащий по контракту', 'Партнер', 'Руководитель высшего звена', 'Служащий'}


==========
ORG_TP_STATE
{'Частная компания', nan, 'Государственная комп./учреж.', 'Индивидуальный предприниматель', 'Частная ком. с инос. капиталом', 'Некоммерческая организация'}


==========
ORG_TP_FCAPITAL
{nan, 'С участием', 'Без участия'}


==========
JOB_DIR
{nan, 'Кадровая служба и секретариат', 'Адм-хоз. и трансп. службы', 'Реклама и маркетинг', 'Бухгалтерия, финансы, планир.', 'Пр-техн. обесп. и телеком.', 'Участие в основ. деятельности', 'Служба безопасности', 'Снабжение и сбыт', 'Юридическая служба', 'Вспомогательный техперсонал'}


==========
FAMILY_INCOME
{'от 20000 до 50000 руб.', 'от 10000 до 20000 руб.', 'до 5000 руб.', 'от 5000 до 10000 руб.', 'свыше 50000 руб.'}


==========
PERSONAL_INCOME
{'19000', '16800', '170000', '31000', '2000', '65000', '14000', '11300', '30000', '13000', '68000', '20500', '7830', '150000', '8300', '220000', '5500', '10000', '4400', '3500', '16500', '26500', '5800', '250000', '15400', '11800', '18000', '15000', '51000', '6400', '32000', '17500', '17800', '14500', '11000', '4590', '9200', '6608', '9100', '21800', '16050', '12900', '7251', '18600', '14300', '9400', '55000', '5582', '9600', '13800', '43000', '44000', '5680', '29000', '13600', '33000', '4360', '6600', '16200', '22955', '11640', '37000', '13160', '5350', '15600', '21500', '6100', '7400', '4000', '7500', '11400', '13150', '3200', '9300', '7100', '7101', '9700', '8400', '21000', '5230', '5000', '2300', '41000', '75000', '17200', '20000', '19300', '6300', '47000', '9000', '5900', '12100', '11900', '24500', '5200', '24000', '27300', '23800', '4300', '4900', '22000', '9330', '12000', '6299,19', '11500', '46000', '7640', '8100', '16700', '28000', '22500', '29800', '7220', '24800', '4340', '18700', '23500', '28300', '16900', '67700', '32640', '13200', '17404', '15560', '7700', '5600', '3800', '5790', '41900', '54000', '7800', '38000', '10300', '9800', '9628', '53000', '15380', '8900', '5446', '4200', '23100', '7050', '10100', '7650', '4515', '13900', '18500', '5339', '15200', '6200', '8700', '9900', '12300', '25800', '5700', '7200', '7900', '10700', '8600', '7850', '36000', '4500', '17900', '48000', '160000', '2800', '12600', '19600', '25000', '3600', '50000', '15300', '4700', '34000', '14700', '5050', '10200', '5360', '10900', '13400', '9500', '11200', '56000', '9340', '80000', '12500', '7550', '40000', '3000', '4950', '100000', '13450', '8726', '92000', '42500', '3300', '6700', '11600', '27000', '24', '4800', '5100', '14800', '17700', '8800', '2100', '6900', '13500', '18200', '13300', '16000', '12700', '19500', '8000', '14358', '52000', '26000', '19800', '10400', '29500', '7000', '23000', '10800', '49000', '5400', '3400', '77000', '6180', '7250', '4100', '45000', '3900', '3700', '5088', '8500', '42000', '12650', '8350', '70000', '6800', '13700', '12400', '15500', '4600', '12800', '67000', '8200', '1950', '7300', '11700', '17600', '10500', '8066', '9240', '5425', '6000', '6670', '17000', '4330', '8250', '60000', '35000', '110000', '10600', '5300', '39000', '19700', '6359', '6500', '7600', '16100', '20646,16', '5460', '3100'}


==========
REG_ADDRESS_PROVINCE
{'Марийская республика', 'Коми', 'Камчатская область', 'Алтайский край', 'Ленинградская область', 'Мордовская республика', 'Краснодарский край', 'Липецкая область', 'Астраханская область', 'Читинская область', 'Якутия', 'Чувашия', 'Удмуртия', 'Рязанская область', 'Татарстан', 'Оренбургская область', 'Тверская область', 'Саратовская область', 'Новосибирская область', 'Кировская область', 'Горный Алтай', 'Белгородская область', 'Калмыкия', 'Карачаево-Черкесия', 'Калужская область', 'Костромская область', 'Тульская область', 'Московская область', 'Тюменская область', 'Иркутская область', 'Свердловская область', 'Санкт-Петербург', 'Ставропольский край', 'Агинский Бурятский АО', 'Красноярский край', 'Владимирская область', 'Воронежская область', 'Бурятия', 'Томская область', 'Ивановская область', 'Смоленская область', 'Брянская область', 'Карелия', 'Волгоградская область', 'Ярославская область', 'Новгородская область', 'Тамбовская область', 'Пермская область', 'Хабаровский край', 'Орловская область', 'Еврейская АО', 'Нижегородская область', 'Дагестан', 'Усть-Ордынский Бурятский АО', 'Архангельская область', 'Курганская область', 'Ханты-Мансийский АО', 'Мурманская область', 'Магаданская область', 'Ростовская область', 'Сахалинская область', 'Омская область', 'Хакасия', 'Башкирия', 'Кемеровская область', 'Вологодская область', 'Москва', 'Кабардино-Балкария', 'Северная Осетия', 'Амурская область', 'Псковская область', 'Эвенкийский АО', 'Ямало-Ненецкий АО', 'Челябинская область', 'Ульяновская область', 'Приморский край', 'Адыгея', 'Пензенская область', 'Калининградская область', 'Курская область', 'Самарская область'}


==========
FACT_ADDRESS_PROVINCE
{'Марийская республика', 'Коми', 'Камчатская область', 'Алтайский край', 'Ленинградская область', 'Мордовская республика', 'Краснодарский край', 'Липецкая область', 'Астраханская область', 'Читинская область', 'Якутия', 'Чувашия', 'Удмуртия', 'Рязанская область', 'Татарстан', 'Оренбургская область', 'Тверская область', 'Саратовская область', 'Новосибирская область', 'Кировская область', 'Горный Алтай', 'Белгородская область', 'Калмыкия', 'Карачаево-Черкесия', 'Калужская область', 'Костромская область', 'Тульская область', 'Московская область', 'Тюменская область', 'Иркутская область', 'Свердловская область', 'Санкт-Петербург', 'Ставропольский край', 'Агинский Бурятский АО', 'Красноярский край', 'Владимирская область', 'Воронежская область', 'Бурятия', 'Томская область', 'Ивановская область', 'Смоленская область', 'Брянская область', 'Карелия', 'Волгоградская область', 'Ярославская область', 'Новгородская область', 'Тамбовская область', 'Пермская область', 'Хабаровский край', 'Орловская область', 'Еврейская АО', 'Нижегородская область', 'Усть-Ордынский Бурятский АО', 'Дагестан', 'Архангельская область', 'Курганская область', 'Ханты-Мансийский АО', 'Мурманская область', 'Магаданская область', 'Ростовская область', 'Сахалинская область', 'Омская область', 'Хакасия', 'Башкирия', 'Кемеровская область', 'Вологодская область', 'Москва', 'Кабардино-Балкария', 'Эвенкийский АО', 'Амурская область', 'Псковская область', 'Северная Осетия', 'Ямало-Ненецкий АО', 'Челябинская область', 'Ульяновская область', 'Приморский край', 'Адыгея', 'Пензенская область', 'Калининградская область', 'Курская область', 'Самарская область'}


==========
POSTAL_ADDRESS_PROVINCE
{'Марийская республика', 'Коми', 'Камчатская область', 'Алтайский край', 'Ленинградская область', 'Мордовская республика', 'Краснодарский край', 'Липецкая область', 'Астраханская область', 'Читинская область', 'Якутия', 'Чувашия', 'Удмуртия', 'Рязанская область', 'Татарстан', 'Оренбургская область', 'Тверская область', 'Саратовская область', 'Новосибирская область', 'Кировская область', 'Горный Алтай', 'Белгородская область', 'Калмыкия', 'Карачаево-Черкесия', 'Калужская область', 'Костромская область', 'Тульская область', 'Московская область', 'Тюменская область', 'Иркутская область', 'Свердловская область', 'Санкт-Петербург', 'Ставропольский край', 'Агинский Бурятский АО', 'Красноярский край', 'Владимирская область', 'Воронежская область', 'Бурятия', 'Томская область', 'Ивановская область', 'Смоленская область', 'Брянская область', 'Карелия', 'Волгоградская область', 'Ярославская область', 'Новгородская область', 'Тамбовская область', 'Пермская область', 'Хабаровский край', 'Орловская область', 'Еврейская АО', 'Нижегородская область', 'Усть-Ордынский Бурятский АО', 'Архангельская область', 'Курганская область', 'Ханты-Мансийский АО', 'Мурманская область', 'Магаданская область', 'Ростовская область', 'Сахалинская область', 'Омская область', 'Хакасия', 'Башкирия', 'Кемеровская область', 'Вологодская область', 'Москва', 'Кабардино-Балкария', 'Эвенкийский АО', 'Амурская область', 'Псковская область', 'Северная Осетия', 'Ямало-Ненецкий АО', 'Челябинская область', 'Ульяновская область', 'Приморский край', 'Адыгея', 'Пензенская область', 'Калининградская область', 'Курская область', 'Самарская область'}


==========
TP_PROVINCE
{nan, 'Марийская республика', 'Коми', 'Камчатская область', 'Алтайский край', 'Мордовская республика', 'Удмуртия', 'Краснодарский край', 'Липецкая область', 'Астраханская область', 'Читинская область', 'Якутия', 'Чувашия', 'Рязанская область', 'Горный Алтай', 'Татарстан', 'Оренбургская область', 'Тверская область', 'Саратовская область', 'Новосибирская область', 'Кировская область', 'Белгородская область', 'Калужская область', 'Костромская область', 'Тульская область', 'Тюменская область', 'Ставропольский край', 'Иркутская область', 'Свердловская область', 'Санкт-Петербург', 'Красноярский край', 'Владимирская область', 'Воронежская область', 'Бурятия', 'Томская область', 'Ивановская область', 'Смоленская область', 'Брянская область', 'Карелия', 'Волгоградская область', 'Ярославская область', 'Новгородская область', 'Тамбовская область', 'Пермская область', 'Хабаровский край', 'Орловская область', 'Еврейская АО', 'Нижегородская область', 'Архангельская область', 'Курганская область', 'Ханты-Мансийский АО', 'Мурманская область', 'Магаданская область', 'Ростовская область', 'Сахалинская область', 'Омская область', 'Башкирия', 'Кемеровская область', 'Вологодская область', 'Москва', 'Кабардино-Балкария', 'Амурская область', 'Псковская область', 'Челябинская область', 'Ульяновская область', 'Приморский край', 'Адыгея', 'Пензенская область', 'Калининградская область', 'Курская область', 'Самарская область'}


==========
REGION_NM
{'ЦЕНТРАЛЬНЫЙ 1', 'ПОВОЛЖСКИЙ', nan, 'ЦЕНТРАЛЬНЫЙ ОФИС', 'ВОСТОЧНО-СИБИРСКИЙ', 'ДАЛЬНЕВОСТОЧНЫЙ', 'УРАЛЬСКИЙ', 'ЗАПАДНО-СИБИРСКИЙ', 'ПРИВОЛЖСКИЙ', 'ЦЕНТРАЛЬНЫЙ 2', 'СЕВЕРО-ЗАПАДНЫЙ', 'ЮЖНЫЙ'}


==========
CREDIT

Mожно заметить что некоторые переменные, которые обозначены как строки (например PERSONAL_INCOME) на самом деле числа, но по какой-то причине были распознаны как строки

Причина же что использовалась запятая для разделения не целой части числа..

Перекодировать их можно например так:

In [50]:
df['PERSONAL_INCOME']=df['PERSONAL_INCOME'].map(lambda x: x.replace(',', '.')).astype('float')

In [51]:
df['CREDIT']=df['CREDIT'].map(lambda x: x.replace(',', '.')).astype('float')

In [52]:
df['FST_PAYMENT']=df['FST_PAYMENT'].map(lambda x: x.replace(',', '.')).astype('float')

In [53]:
df['LOAN_AVG_DLQ_AMT']=df['LOAN_AVG_DLQ_AMT'].map(lambda x: x.replace(',', '.')).astype('float')

In [54]:
df['LOAN_MAX_DLQ_AMT']=df['LOAN_MAX_DLQ_AMT'].map(lambda x: x.replace(',', '.')).astype('float')

In [55]:
for i in df.columns: # перебираем все столбцы
    if str(df[i].dtype) == 'object': # если тип столбца - object
        print('='*10)
        print(i) # выводим название столбца
        print(set(df[i])) # выводим все его значения (но делаем set - чтоб значения не повторялись)
        print('\n') # выводим пустую строку

==========
EDUCATION
{'Высшее', 'Ученая степень', 'Среднее специальное', 'Два и более высших образования', 'Среднее', 'Неполное среднее', 'Неоконченное высшее'}


==========
MARITAL_STATUS
{'Состою в браке', 'Разведен(а)', 'Не состоял в браке', 'Гражданский брак', 'Вдовец/Вдова'}


==========
GEN_INDUSTRY
{nan, 'Юридические услуги/нотариальные услуги', 'Нефтегазовая промышленность', 'Государственная служба', 'Энергетика', 'Строительство', 'Химия/Парфюмерия/Фармацевтика', 'Сельское хозяйство', 'Туризм', 'Образование', 'Металлургия/Промышленность/Машиностроение', 'Наука', 'Управляющая компания', 'Здравоохранение', 'Ресторанный бизнес/Общественное питание', 'Страхование', 'Логистика', 'Коммунальное хоз-во/Дорожные службы', 'Подбор персонала', 'Другие сферы', 'Транспорт', 'Информационные технологии', 'ЧОП/Детективная д-ть', 'Сборочные производства', 'Недвижимость', 'Развлечения/Искусство', 'Торговля', 'СМИ/Реклама/PR-агенства', 'Салоны красоты и здоровья', 'Информационные услуги', 'Маркетинг', 'Банк/Финансы'}


==========
GEN_TITLE
{nan, 'Высококвалифиц. специалист', 'Специалист', 'Индивидуальный предприниматель', 'Рабочий', 'Другое', 'Руководитель низшего звена', 'Руководитель среднего звена', 'Работник сферы услуг', 'Военнослужащий по контракту', 'Партнер', 'Руководитель высшего звена', 'Служащий'}


==========
ORG_TP_STATE
{nan, 'Частная компания', 'Государственная комп./учреж.', 'Индивидуальный предприниматель', 'Частная ком. с инос. капиталом', 'Некоммерческая организация'}


==========
ORG_TP_FCAPITAL
{nan, 'С участием', 'Без участия'}


==========
JOB_DIR
{nan, 'Кадровая служба и секретариат', 'Адм-хоз. и трансп. службы', 'Реклама и маркетинг', 'Бухгалтерия, финансы, планир.', 'Пр-техн. обесп. и телеком.', 'Участие в основ. деятельности', 'Служба безопасности', 'Снабжение и сбыт', 'Юридическая служба', 'Вспомогательный техперсонал'}


==========
FAMILY_INCOME
{'от 20000 до 50000 руб.', 'от 10000 до 20000 руб.', 'до 5000 руб.', 'от 5000 до 10000 руб.', 'свыше 50000 руб.'}


==========
REG_ADDRESS_PROVINCE
{'Коми', 'Камчатская область', 'Алтайский край', 'Мордовская республика', 'Удмуртия', 'Краснодарский край', 'Липецкая область', 'Марийская республика', 'Читинская область', 'Якутия', 'Астраханская область', 'Рязанская область', 'Ленинградская область', 'Татарстан', 'Оренбургская область', 'Кировская область', 'Саратовская область', 'Тверская область', 'Новосибирская область', 'Горный Алтай', 'Белгородская область', 'Калмыкия', 'Карачаево-Черкесия', 'Калужская область', 'Костромская область', 'Тульская область', 'Московская область', 'Тюменская область', 'Иркутская область', 'Свердловская область', 'Ставропольский край', 'Санкт-Петербург', 'Коми-Пермяцкий АО', 'Агинский Бурятский АО', 'Красноярский край', 'Владимирская область', 'Томская область', 'Воронежская область', 'Бурятия', 'Ивановская область', 'Чувашия', 'Смоленская область', 'Брянская область', 'Карелия', 'Волгоградская область', 'Новгородская область', 'Ярославская область', 'Тамбовская область', 'Пермская область', 'Орловская область', 'Хабаровский край', 'Усть-Ордынский Бурятский АО', 'Еврейская АО', 'Нижегородская область', 'Дагестан', 'Архангельская область', 'Курганская область', 'Ханты-Мансийский АО', 'Мурманская область', 'Магаданская область', 'Ростовская область', 'Сахалинская область', 'Омская область', 'Хакасия', 'Башкирия', 'Кемеровская область', 'Вологодская область', 'Москва', 'Кабардино-Балкария', 'Северная Осетия', 'Амурская область', 'Псковская область', 'Эвенкийский АО', 'Ямало-Ненецкий АО', 'Челябинская область', 'Ульяновская область', 'Приморский край', 'Калининградская область', 'Пензенская область', 'Адыгея', 'Курская область', 'Самарская область'}


==========
FACT_ADDRESS_PROVINCE
{'Коми', 'Камчатская область', 'Алтайский край', 'Мордовская республика', 'Удмуртия', 'Краснодарский край', 'Липецкая область', 'Марийская республика', 'Читинская область', 'Якутия', 'Астраханская область', 'Рязанская область', 'Ленинградская область', 'Татарстан', 'Оренбургская область', 'Кировская область', 'Саратовская область', 'Тверская область', 'Новосибирская область', 'Горный Алтай', 'Белгородская область', 'Калмыкия', 'Карачаево-Черкесия', 'Калужская область', 'Костромская область', 'Тульская область', 'Московская область', 'Тюменская область', 'Иркутская область', 'Свердловская область', 'Ставропольский край', 'Санкт-Петербург', 'Коми-Пермяцкий АО', 'Чечня', 'Агинский Бурятский АО', 'Красноярский край', 'Владимирская область', 'Томская область', 'Воронежская область', 'Бурятия', 'Ивановская область', 'Чувашия', 'Смоленская область', 'Брянская область', 'Карелия', 'Волгоградская область', 'Новгородская область', 'Ярославская область', 'Тамбовская область', 'Пермская область', 'Орловская область', 'Хабаровский край', 'Усть-Ордынский Бурятский АО', 'Еврейская АО', 'Нижегородская область', 'Дагестан', 'Архангельская область', 'Курганская область', 'Ханты-Мансийский АО', 'Мурманская область', 'Магаданская область', 'Ростовская область', 'Сахалинская область', 'Омская область', 'Хакасия', 'Башкирия', 'Кемеровская область', 'Вологодская область', 'Москва', 'Кабардино-Балкария', 'Северная Осетия', 'Амурская область', 'Псковская область', 'Эвенкийский АО', 'Ямало-Ненецкий АО', 'Челябинская область', 'Ульяновская область', 'Приморский край', 'Калининградская область', 'Пензенская область', 'Адыгея', 'Курская область', 'Самарская область'}


==========
POSTAL_ADDRESS_PROVINCE
{'Коми', 'Камчатская область', 'Алтайский край', 'Мордовская республика', 'Удмуртия', 'Краснодарский край', 'Липецкая область', 'Марийская республика', 'Читинская область', 'Якутия', 'Астраханская область', 'Рязанская область', 'Ленинградская область', 'Татарстан', 'Оренбургская область', 'Кировская область', 'Саратовская область', 'Тверская область', 'Новосибирская область', 'Горный Алтай', 'Белгородская область', 'Калмыкия', 'Карачаево-Черкесия', 'Калужская область', 'Костромская область', 'Тульская область', 'Московская область', 'Тюменская область', 'Иркутская область', 'Свердловская область', 'Ставропольский край', 'Санкт-Петербург', 'Коми-Пермяцкий АО', 'Агинский Бурятский АО', 'Красноярский край', 'Владимирская область', 'Томская область', 'Воронежская область', 'Бурятия', 'Ивановская область', 'Чувашия', 'Смоленская область', 'Брянская область', 'Карелия', 'Волгоградская область', 'Новгородская область', 'Ярославская область', 'Тамбовская область', 'Пермская область', 'Орловская область', 'Хабаровский край', 'Усть-Ордынский Бурятский АО', 'Еврейская АО', 'Нижегородская область', 'Дагестан', 'Архангельская область', 'Курганская область', 'Ханты-Мансийский АО', 'Мурманская область', 'Магаданская область', 'Ростовская область', 'Сахалинская область', 'Омская область', 'Хакасия', 'Башкирия', 'Кемеровская область', 'Вологодская область', 'Москва', 'Кабардино-Балкария', 'Северная Осетия', 'Амурская область', 'Псковская область', 'Эвенкийский АО', 'Ямало-Ненецкий АО', 'Челябинская область', 'Ульяновская область', 'Приморский край', 'Калининградская область', 'Пензенская область', 'Адыгея', 'Курская область', 'Самарская область'}


==========
TP_PROVINCE
{nan, 'Коми', 'Камчатская область', 'Алтайский край', 'Мордовская республика', 'Удмуртия', 'Краснодарский край', 'Липецкая область', 'Марийская республика', 'Читинская область', 'Якутия', 'Астраханская область', 'Рязанская область', 'Горный Алтай', 'Татарстан', 'Оренбургская область', 'Кировская область', 'Саратовская область', 'Тверская область', 'Новосибирская область', 'Белгородская область', 'Калужская область', 'Костромская область', 'Тульская область', 'Тюменская область', 'Иркутская область', 'Свердловская область', 'Ставропольский край', 'Санкт-Петербург', 'Красноярский край', 'Владимирская область', 'Томская область', 'Воронежская область', 'Бурятия', 'Ивановская область', 'Чувашия', 'Смоленская область', 'Брянская область', 'Карелия', 'Волгоградская область', 'Новгородская область', 'Ярославская область', 'Тамбовская область', 'Пермская область', 'Орловская область', 'Хабаровский край', 'Еврейская АО', 'Нижегородская область', 'Архангельская область', 'Курганская область', 'Ханты-Мансийский АО', 'Мурманская область', 'Магаданская область', 'Ростовская область', 'Сахалинская область', 'Омская область', 'Башкирия', 'Кемеровская область', 'Вологодская область', 'Москва', 'Кабардино-Балкария', 'Амурская область', 'Псковская область', 'Челябинская область', 'Ульяновская область', 'Приморский край', 'Калининградская область', 'Пензенская область', 'Адыгея', 'Курская область', 'Самарская область'}


==========
REGION_NM
{'ЦЕНТРАЛЬНЫЙ 1', nan, 'ЦЕНТРАЛЬНЫЙ ОФИС', 'ВОСТОЧНО-СИБИРСКИЙ', 'ДАЛЬНЕВОСТОЧНЫЙ', 'ПРИВОЛЖСКИЙ', 'УРАЛЬСКИЙ', 'ЗАПАДНО-СИБИРСКИЙ', 'ЦЕНТРАЛЬНЫЙ 2', 'ЮЖНЫЙ', 'СЕВЕРО-ЗАПАДНЫЙ', 'ПОВОЛЖСКИЙ'}


==========
sample
{'test', 'train'}

Такой эффект наблюдается в столбцах `PERSONAL_INCOME`, `CREDIT`, `FST_PAYMENT`, `LOAN_AVG_DLQ_AMT`, `LOAN_MAX_DLQ_AMT`

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30133 entries, 0 to 30132
Data columns (total 53 columns):
AGREEMENT_RK                  30133 non-null int64
TARGET                        30133 non-null int64
AGE                           30133 non-null int64
SOCSTATUS_WORK_FL             30133 non-null int64
SOCSTATUS_PENS_FL             30133 non-null int64
GENDER                        30133 non-null int64
CHILD_TOTAL                   30133 non-null int64
DEPENDANTS                    30133 non-null int64
EDUCATION                     30133 non-null object
MARITAL_STATUS                30133 non-null object
GEN_INDUSTRY                  27420 non-null object
GEN_TITLE                     27420 non-null object
ORG_TP_STATE                  27420 non-null object
ORG_TP_FCAPITAL               27425 non-null object
JOB_DIR                       27420 non-null object
FAMILY_INCOME                 30133 non-null object
PERSONAL_INCOME               30133 non-null float64
REG_ADDRESS_PROVINCE          30133 non-null object
FACT_ADDRESS_PROVINCE         30133 non-null object
POSTAL_ADDRESS_PROVINCE       30133 non-null object
TP_PROVINCE                   29543 non-null object
REGION_NM                     30131 non-null object
REG_FACT_FL                   30133 non-null int64
FACT_POST_FL                  30133 non-null int64
REG_POST_FL                   30133 non-null int64
REG_FACT_POST_FL              30133 non-null int64
REG_FACT_POST_TP_FL           30133 non-null int64
FL_PRESENCE_FL                30133 non-null int64
OWN_AUTO                      30133 non-null int64
AUTO_RUS_FL                   30133 non-null int64
HS_PRESENCE_FL                30133 non-null int64
COT_PRESENCE_FL               30133 non-null int64
GAR_PRESENCE_FL               30133 non-null int64
LAND_PRESENCE_FL              30133 non-null int64
CREDIT                        30133 non-null float64
TERM                          30133 non-null int64
FST_PAYMENT                   30133 non-null float64
DL_DOCUMENT_FL                30133 non-null int64
GPF_DOCUMENT_FL               30133 non-null int64
FACT_LIVING_TERM              30133 non-null int64
WORK_TIME                     27416 non-null float64
FACT_PHONE_FL                 30133 non-null int64
REG_PHONE_FL                  30133 non-null int64
GEN_PHONE_FL                  30133 non-null int64
LOAN_NUM_TOTAL                30133 non-null int64
LOAN_NUM_CLOSED               30133 non-null int64
LOAN_NUM_PAYM                 30133 non-null int64
LOAN_DLQ_NUM                  30133 non-null int64
LOAN_MAX_DLQ                  30133 non-null int64
LOAN_AVG_DLQ_AMT              30133 non-null float64
LOAN_MAX_DLQ_AMT              30133 non-null float64
PREVIOUS_CARD_NUM_UTILIZED    600 non-null float64
sample                        30133 non-null object
dtypes: float64(7), int64(32), object(14)
memory usage: 12.2+ MB

In [57]:
#для начала выделим отдельный массив для экспериментов над данными, чтобы всегда можно было вернуться к этой точке
newdf=df

In [60]:
#посмотрим, насколько зависят данные от рабочего статуса. мы тут узнали важную вещт - индустрии и рабочие звания есть у работающих и пенсионеров
df[df.SOCSTATUS_WORK_FL==0]

,AGREEMENT_RK,TARGET,AGE,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,GENDER,CHILD_TOTAL,DEPENDANTS,EDUCATION,MARITAL_STATUS,...,GEN_PHONE_FL,LOAN_NUM_TOTAL,LOAN_NUM_CLOSED,LOAN_NUM_PAYM,LOAN_DLQ_NUM,LOAN_MAX_DLQ,LOAN_AVG_DLQ_AMT,LOAN_MAX_DLQ_AMT,PREVIOUS_CARD_NUM_UTILIZED,sample
1,59910420,0,48,0,1,1,0,0,Среднее,Состою в браке,...,0,2,1,15,0,0,0.00,0.00,NaN,test
5,59911769,0,44,0,1,0,2,2,Среднее специальное,Состою в браке,...,0,1,1,5,0,0,0.00,0.00,NaN,test
8,59912422,0,53,0,1,1,2,0,Среднее специальное,Состою в браке,...,0,1,1,4,0,0,0.00,0.00,NaN,test
12,59912574,0,59,0,1,1,0,0,Неполное среднее,Не состоял в браке,...,0,2,2,6,0,0,0.00,0.00,NaN,test
20,59913432,0,65,0,1,1,2,0,Среднее специальное,Разведен(а),...,0,1,1,6,0,0,0.00,0.00,NaN,test
28,59914189,0,63,0,1,0,0,0,Среднее специальное,Состою в браке,...,0,1,1,3,0,0,0.00,0.00,NaN,test
30,59914517,0,63,0,1,1,2,0,Среднее специальное,Не состоял в браке,...,0,1,1,3,0,0,0.00,0.00,NaN,test
57,59918446,0,62,0,1,1,0,0,Среднее специальное,Состою в браке,...,0,1,1,6,0,0,0.00,0.00,NaN,test
77,59920591,0,58,0,1,1,2,0,Среднее специальное,Вдовец/Вдова,...,0,1,1,4,0,0,0.00,0.00,NaN,test
96,59923652,0,66,0,1,1,0,0,Неполное среднее,Состою в браке,...,0,1,1,4,0,0,0.00,0.00,NaN,test
103,59924499,0,59,0,1,1,0,0,Среднее специальное,Не состоял в браке,...,0,1,1,5,0,0,0.00,0.00,NaN,test
111,59924977,0,61,0,1,1,0,0,Среднее специальное,Разведен(а),...,0,1,1,5,0,0,0.00,0.00,NaN,test
156,59930509,0,55,0,1,1,4,0,Среднее,Не состоял в браке,...,0,2,1,5,0,0,0.00,0.00,NaN,test
177,59932751,0,59,0,1,1,2,0,Среднее,Состою в браке,...,0,2,2,4,0,0,0.00,0.00,NaN,test
192,59935061,0,63,0,1,1,2,0,Неполное среднее,Разведен(а),...,0,2,2,8,0,0,0.00,0.00,NaN,test
194,59935316,0,64,0,1,1,0,0,Неполное среднее,Состою в браке,...,0,1,1,4,0,0,0.00,0.00,NaN,test
202,59936378,0,58,0,1,1,2,0,Среднее специальное,Не состоял в браке,...,0,1,1,5,0,0,0.00,0.00,NaN,test
203,59936556,0,61,0,1,0,0,0,Неполное среднее,Не состоял в браке,...,0,1,1,4,0,0,0.00,0.00,NaN,test
204,59936569,0,64,0,1,1,0,0,Среднее,Не состоял в браке,...,0,2,1,16,0,0,0.00,0.00,NaN,test
211,59937000,0,65,0,1,1,1,0,Среднее,Вдовец/Вдова,...,0,1,1,5,0,0,0.00,0.00,NaN,test
214,59937506,0,64,0,1,1,1,0,Среднее специальное,Состою в браке,...,0,1,1,5,0,0,0.00,0.00,NaN,test
246,59939938,0,57,0,1,1,2,0,Среднее,Состою в браке,...,0,2,2,11,0,0,0.00,0.00,NaN,test
247,59939949,0,63,0,1,1,3,0,Среднее,Не состоял в браке,...,0,1,1,4,0,0,0.00,0.00,NaN,test
252,59959244,0,62,0,1,1,1,0,Высшее,Не состоял в браке,...,0,1,1,4,0,0,0.00,0.00,NaN,test
254,59959653,0,59,0,1,1,3,0,Среднее специальное,Состою в браке,...,0,1,1,4,0,0,0.00,0.00,NaN,test
280,59963405,0,53,0,1,1,0,0,Среднее специальное,Состою в браке,...,0,1,1,3,0,0,0.00,0.00,NaN,test
293,59964574,0,62,0,1,1,3,0,Среднее,Состою в браке,...,0,1,0,7,0,0,0.00,0.00,NaN,test
300,59965361,0,65,0,1,1,0,0,Высшее,Не состоял в браке,...,0,1,1,6,0,0,0.00,0.00,NaN,test
314,59967046,0,60,0,1,1,1,0,Высшее,Вдовец/Вдова,...,0,1,0,9,0,0,0.00,0.00,NaN,test
325,59968476,0,64,0,1,0,0,0,Среднее специальное,Состою в браке,...,0,1,0,6,0,0,0.00,0.00,NaN,test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29818,75026052,0,56,0,1,0,0,1,Неоконченное высшее,Состою в браке,...,0,3,2,30,0,0,0.00,0.00,NaN,train
29853,75031616,0,50,0,1,0,0,0,Среднее,Гражданский брак,...,0,1,1,3,0,0,0.00,0.00,NaN,train
29937,75201835,0,56,0,1,1,1,0,Среднее,Состою в браке,...,0,1,0,3,0,0,0.00,0.00,NaN,train
29941,75202462,0,60,0,1,1,0,0,Среднее,Не состоял в браке,...,0,1,1,3,0,0,0.00,0.00,NaN,train
29944,75202884,0,57,0,1,1,0,0,Высшее,Не состоял в браке,...,0,1,0,4,0,0,0.00,0.00,NaN,train
29978,75212398,0,57,0,1,1,0,0,Среднее,Состою в браке,...,0,1,0,4,0,0,0.00,0.00,NaN,train
29983,75214042,0,57,0,1,1,2,0,Среднее специальное,Состою в браке,...,0,1,0,4,0,0,0.00,0.00,NaN,train
29997,75270710,0,60,0,1,1,0,0,Среднее специальное,Вдовец/Вдова,...,0,1,1,3,0,0,0.00,0.00,NaN,train
29999,75271057,0,55,0,1,1,2,0,Среднее,Не состоял в браке,...,0,1,0,4,0,0,0.00,0.00,NaN,train
30010,75274108,0,60,0,1,0,2,0,Среднее,Состою в браке,...,0,1,0,4,0,0,0.00,0.00,NaN,train
30024,75276828,0,63,0,1,1,0,0,Среднее,Не состоял в браке,...,0,3,3,9,0,0,0.00,0.00,NaN,train
30029,75277449,0,37,0,1,1,2,2,Среднее специальное,Состою в браке,...,0,1,1,1,0,0,0.00,0.00,NaN,train
30043,75279018,0,62,0,1,1,0,0,Среднее специальное,Состою в браке,...,0,1,0,4,0,0,0.00,0.00,NaN,train
30061,75281601,0,39,0,1,1,3,1,Среднее,Состою в браке,...,0,2,1,10,5,4,1068.47,1068.47,NaN,train
30062,75281731,0,57,0,1,1,2,0,Среднее специальное,Вдовец/Вдова,...,0,1,1,3,0,0,0.00,0.00,NaN,train
30070,75283082,0,60,0,1,0,0,0,Среднее,Состою в браке,...,0,1,1,10,0,0,0.00,0.00,NaN,train
30072,75283593,0,63,0,1,0,3,0,Среднее специальное,Состою в браке,...,0,1,0,3,0,0,0.00,0.00,NaN,train
30074,75283863,0,52,0,1,1,2,0,Среднее специальное,Состою в браке,...,0,1,0,3,0,0,0.00,0.00,NaN,train
30076,75284767,0,54,0,1,1,0,0,Среднее,Состою в браке,...,0,1,0,4,0,0,0.00,0.00,NaN,train
30077,75284874,0,57,0,1,1,2,0,Среднее,Состою в браке,...,0,1,0,3,0,0,0.00,0.00,NaN,train
30082,75285843,0,59,0,1,1,0,0,Среднее специальное,Состою в браке,...,0,1,0,4,0,0,0.00,0.00,NaN,train
30085,75285983,0,63,0,1,1,0,0,Неполное среднее,Состою в браке,...,0,1,0,3,0,0,0.00,0.00,NaN,train
30087,75286543,0,58,0,1,0,1,0,Неполное среднее,Состою в браке,...,0,2,1,43,1,1,904.08,904.08,NaN,train
30088,75286652,0,63,0,1,1,3,0,Среднее,Разведен(а),...,0,1,1,5,0,0,0.00,0.00,NaN,train
30091,75287450,0,58,0,1,0,2,0,Среднее,Состою в браке,...,0,1,0,4,0,0,0.00,0.00,NaN,train
30095,75287816,0,55,0,1,0,0,0,Высшее,Состою в браке,...,0,1,0,4,0,0,0.00,0.00,NaN,train
30101,75288307,0,64,0,1,0,0,0,Высшее,Состою в браке,...,0,1,0,4,0,0,0.00,0.00,NaN,train
30106,75288884,0,64,0,1,1,0,0,Среднее,Вдовец/Вдова,...,0,1,0,4,0,0,0.00,0.00,NaN,train
30107,75288922,0,61,0,1,1,0,0,Среднее специальное,Вдовец/Вдова,...,0,1,0,4,0,0,0.00,0.00,NaN,train
30131,75291960,0,60,0,1,1,2,0,Среднее,Вдовец/Вдова,...,0,1,0,3,0,0,0.00,0.00,NaN,train

In [61]:
#индустрии - это невнятная история, тут непонятно, имеет ли смысл брать часто встречающуюся. Проще завести категорию Неизвестно
newdf.GEN_INDUSTRY[df.GEN_INDUSTRY.isnull()] = 'Unknown'
newdf.info()

C:\Users\Jane\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30133 entries, 0 to 30132
Data columns (total 53 columns):
AGREEMENT_RK                  30133 non-null int64
TARGET                        30133 non-null int64
AGE                           30133 non-null int64
SOCSTATUS_WORK_FL             30133 non-null int64
SOCSTATUS_PENS_FL             30133 non-null int64
GENDER                        30133 non-null int64
CHILD_TOTAL                   30133 non-null int64
DEPENDANTS                    30133 non-null int64
EDUCATION                     30133 non-null object
MARITAL_STATUS                30133 non-null object
GEN_INDUSTRY                  30133 non-null object
GEN_TITLE                     27420 non-null object
ORG_TP_STATE                  27420 non-null object
ORG_TP_FCAPITAL               27425 non-null object
JOB_DIR                       27420 non-null object
FAMILY_INCOME                 30133 non-null object
PERSONAL_INCOME               30133 non-null float64
REG_ADDRESS_PROVINCE          30133 non-null object
FACT_ADDRESS_PROVINCE         30133 non-null object
POSTAL_ADDRESS_PROVINCE       30133 non-null object
TP_PROVINCE                   29543 non-null object
REGION_NM                     30131 non-null object
REG_FACT_FL                   30133 non-null int64
FACT_POST_FL                  30133 non-null int64
REG_POST_FL                   30133 non-null int64
REG_FACT_POST_FL              30133 non-null int64
REG_FACT_POST_TP_FL           30133 non-null int64
FL_PRESENCE_FL                30133 non-null int64
OWN_AUTO                      30133 non-null int64
AUTO_RUS_FL                   30133 non-null int64
HS_PRESENCE_FL                30133 non-null int64
COT_PRESENCE_FL               30133 non-null int64
GAR_PRESENCE_FL               30133 non-null int64
LAND_PRESENCE_FL              30133 non-null int64
CREDIT                        30133 non-null float64
TERM                          30133 non-null int64
FST_PAYMENT                   30133 non-null float64
DL_DOCUMENT_FL                30133 non-null int64
GPF_DOCUMENT_FL               30133 non-null int64
FACT_LIVING_TERM              30133 non-null int64
WORK_TIME                     27416 non-null float64
FACT_PHONE_FL                 30133 non-null int64
REG_PHONE_FL                  30133 non-null int64
GEN_PHONE_FL                  30133 non-null int64
LOAN_NUM_TOTAL                30133 non-null int64
LOAN_NUM_CLOSED               30133 non-null int64
LOAN_NUM_PAYM                 30133 non-null int64
LOAN_DLQ_NUM                  30133 non-null int64
LOAN_MAX_DLQ                  30133 non-null int64
LOAN_AVG_DLQ_AMT              30133 non-null float64
LOAN_MAX_DLQ_AMT              30133 non-null float64
PREVIOUS_CARD_NUM_UTILIZED    600 non-null float64
sample                        30133 non-null object
dtypes: float64(7), int64(32), object(14)
memory usage: 12.2+ MB

In [62]:
#а вот должность - другое дело, тут можно взять самую распространенную
newdf['GEN_TITLE'].value_counts()

Специалист                        13981
Рабочий                            6025
Служащий                           1743
Руководитель среднего звена        1396
Работник сферы услуг               1118
Высококвалифиц. специалист         1082
Руководитель высшего звена          841
Индивидуальный предприниматель      436
Другое                              355
Руководитель низшего звена          268
Военнослужащий по контракту         158
Партнер                              17
Name: GEN_TITLE, dtype: int64

In [66]:
newdf.GEN_TITLE[df.GEN_TITLE.isnull()] = 'Специалист'
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30133 entries, 0 to 30132
Data columns (total 53 columns):
AGREEMENT_RK                  30133 non-null int64
TARGET                        30133 non-null int64
AGE                           30133 non-null int64
SOCSTATUS_WORK_FL             30133 non-null int64
SOCSTATUS_PENS_FL             30133 non-null int64
GENDER                        30133 non-null int64
CHILD_TOTAL                   30133 non-null int64
DEPENDANTS                    30133 non-null int64
EDUCATION                     30133 non-null object
MARITAL_STATUS                30133 non-null object
GEN_INDUSTRY                  30133 non-null object
GEN_TITLE                     30133 non-null object
ORG_TP_STATE                  30133 non-null object
ORG_TP_FCAPITAL               27425 non-null object
JOB_DIR                       27420 non-null object
FAMILY_INCOME                 30133 non-null object
PERSONAL_INCOME               30133 non-null float64
REG_ADDRESS_PROVINCE          30133 non-null object
FACT_ADDRESS_PROVINCE         30133 non-null object
POSTAL_ADDRESS_PROVINCE       30133 non-null object
TP_PROVINCE                   29543 non-null object
REGION_NM                     30131 non-null object
REG_FACT_FL                   30133 non-null int64
FACT_POST_FL                  30133 non-null int64
REG_POST_FL                   30133 non-null int64
REG_FACT_POST_FL              30133 non-null int64
REG_FACT_POST_TP_FL           30133 non-null int64
FL_PRESENCE_FL                30133 non-null int64
OWN_AUTO                      30133 non-null int64
AUTO_RUS_FL                   30133 non-null int64
HS_PRESENCE_FL                30133 non-null int64
COT_PRESENCE_FL               30133 non-null int64
GAR_PRESENCE_FL               30133 non-null int64
LAND_PRESENCE_FL              30133 non-null int64
CREDIT                        30133 non-null float64
TERM                          30133 non-null int64
FST_PAYMENT                   30133 non-null float64
DL_DOCUMENT_FL                30133 non-null int64
GPF_DOCUMENT_FL               30133 non-null int64
FACT_LIVING_TERM              30133 non-null int64
WORK_TIME                     27416 non-null float64
FACT_PHONE_FL                 30133 non-null int64
REG_PHONE_FL                  30133 non-null int64
GEN_PHONE_FL                  30133 non-null int64
LOAN_NUM_TOTAL                30133 non-null int64
LOAN_NUM_CLOSED               30133 non-null int64
LOAN_NUM_PAYM                 30133 non-null int64
LOAN_DLQ_NUM                  30133 non-null int64
LOAN_MAX_DLQ                  30133 non-null int64
LOAN_AVG_DLQ_AMT              30133 non-null float64
LOAN_MAX_DLQ_AMT              30133 non-null float64
PREVIOUS_CARD_NUM_UTILIZED    600 non-null float64
sample                        30133 non-null object
dtypes: float64(7), int64(32), object(14)
memory usage: 12.2+ MB

C:\Users\Jane\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [67]:
newdf['GEN_TITLE'].value_counts()

Специалист                        16694
Рабочий                            6025
Служащий                           1743
Руководитель среднего звена        1396
Работник сферы услуг               1118
Высококвалифиц. специалист         1082
Руководитель высшего звена          841
Индивидуальный предприниматель      436
Другое                              355
Руководитель низшего звена          268
Военнослужащий по контракту         158
Партнер                              17
Name: GEN_TITLE, dtype: int64

In [68]:
#с орг типом компании тоже не все ясно. Она может быть как частная, так и госудерственная. 
#Вводить неизвестную переменную не хочется, все таки это тип компании, но я бы предположила, что если бы это был гос служащий, про него было бы больше данных.
#поэтому больше вероятность, что неизвестно - про частную компанию
newdf['ORG_TP_STATE'].value_counts()

Частная компания                  15609
Государственная комп./учреж.      12152
Индивидуальный предприниматель     1882
Некоммерческая организация          445
Частная ком. с инос. капиталом       45
Name: ORG_TP_STATE, dtype: int64

In [69]:
newdf.ORG_TP_STATE[df.ORG_TP_STATE.isnull()] = 'Частная компания'
newdf['ORG_TP_STATE'].value_counts()
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30133 entries, 0 to 30132
Data columns (total 53 columns):
AGREEMENT_RK                  30133 non-null int64
TARGET                        30133 non-null int64
AGE                           30133 non-null int64
SOCSTATUS_WORK_FL             30133 non-null int64
SOCSTATUS_PENS_FL             30133 non-null int64
GENDER                        30133 non-null int64
CHILD_TOTAL                   30133 non-null int64
DEPENDANTS                    30133 non-null int64
EDUCATION                     30133 non-null object
MARITAL_STATUS                30133 non-null object
GEN_INDUSTRY                  30133 non-null object
GEN_TITLE                     30133 non-null object
ORG_TP_STATE                  30133 non-null object
ORG_TP_FCAPITAL               27425 non-null object
JOB_DIR                       27420 non-null object
FAMILY_INCOME                 30133 non-null object
PERSONAL_INCOME               30133 non-null float64
REG_ADDRESS_PROVINCE          30133 non-null object
FACT_ADDRESS_PROVINCE         30133 non-null object
POSTAL_ADDRESS_PROVINCE       30133 non-null object
TP_PROVINCE                   29543 non-null object
REGION_NM                     30131 non-null object
REG_FACT_FL                   30133 non-null int64
FACT_POST_FL                  30133 non-null int64
REG_POST_FL                   30133 non-null int64
REG_FACT_POST_FL              30133 non-null int64
REG_FACT_POST_TP_FL           30133 non-null int64
FL_PRESENCE_FL                30133 non-null int64
OWN_AUTO                      30133 non-null int64
AUTO_RUS_FL                   30133 non-null int64
HS_PRESENCE_FL                30133 non-null int64
COT_PRESENCE_FL               30133 non-null int64
GAR_PRESENCE_FL               30133 non-null int64
LAND_PRESENCE_FL              30133 non-null int64
CREDIT                        30133 non-null float64
TERM                          30133 non-null int64
FST_PAYMENT                   30133 non-null float64
DL_DOCUMENT_FL                30133 non-null int64
GPF_DOCUMENT_FL               30133 non-null int64
FACT_LIVING_TERM              30133 non-null int64
WORK_TIME                     27416 non-null float64
FACT_PHONE_FL                 30133 non-null int64
REG_PHONE_FL                  30133 non-null int64
GEN_PHONE_FL                  30133 non-null int64
LOAN_NUM_TOTAL                30133 non-null int64
LOAN_NUM_CLOSED               30133 non-null int64
LOAN_NUM_PAYM                 30133 non-null int64
LOAN_DLQ_NUM                  30133 non-null int64
LOAN_MAX_DLQ                  30133 non-null int64
LOAN_AVG_DLQ_AMT              30133 non-null float64
LOAN_MAX_DLQ_AMT              30133 non-null float64
PREVIOUS_CARD_NUM_UTILIZED    600 non-null float64
sample                        30133 non-null object
dtypes: float64(7), int64(32), object(14)
memory usage: 12.2+ MB

C:\Users\Jane\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [70]:
#тут логично везде проставить без участия
newdf['ORG_TP_FCAPITAL'].value_counts()

Без участия    27099
С участием       326
Name: ORG_TP_FCAPITAL, dtype: int64

In [71]:
newdf.ORG_TP_FCAPITAL[df.ORG_TP_FCAPITAL.isnull()] = 'Без участия'
newdf['ORG_TP_FCAPITAL'].value_counts()
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30133 entries, 0 to 30132
Data columns (total 53 columns):
AGREEMENT_RK                  30133 non-null int64
TARGET                        30133 non-null int64
AGE                           30133 non-null int64
SOCSTATUS_WORK_FL             30133 non-null int64
SOCSTATUS_PENS_FL             30133 non-null int64
GENDER                        30133 non-null int64
CHILD_TOTAL                   30133 non-null int64
DEPENDANTS                    30133 non-null int64
EDUCATION                     30133 non-null object
MARITAL_STATUS                30133 non-null object
GEN_INDUSTRY                  30133 non-null object
GEN_TITLE                     30133 non-null object
ORG_TP_STATE                  30133 non-null object
ORG_TP_FCAPITAL               30133 non-null object
JOB_DIR                       27420 non-null object
FAMILY_INCOME                 30133 non-null object
PERSONAL_INCOME               30133 non-null float64
REG_ADDRESS_PROVINCE          30133 non-null object
FACT_ADDRESS_PROVINCE         30133 non-null object
POSTAL_ADDRESS_PROVINCE       30133 non-null object
TP_PROVINCE                   29543 non-null object
REGION_NM                     30131 non-null object
REG_FACT_FL                   30133 non-null int64
FACT_POST_FL                  30133 non-null int64
REG_POST_FL                   30133 non-null int64
REG_FACT_POST_FL              30133 non-null int64
REG_FACT_POST_TP_FL           30133 non-null int64
FL_PRESENCE_FL                30133 non-null int64
OWN_AUTO                      30133 non-null int64
AUTO_RUS_FL                   30133 non-null int64
HS_PRESENCE_FL                30133 non-null int64
COT_PRESENCE_FL               30133 non-null int64
GAR_PRESENCE_FL               30133 non-null int64
LAND_PRESENCE_FL              30133 non-null int64
CREDIT                        30133 non-null float64
TERM                          30133 non-null int64
FST_PAYMENT                   30133 non-null float64
DL_DOCUMENT_FL                30133 non-null int64
GPF_DOCUMENT_FL               30133 non-null int64
FACT_LIVING_TERM              30133 non-null int64
WORK_TIME                     27416 non-null float64
FACT_PHONE_FL                 30133 non-null int64
REG_PHONE_FL                  30133 non-null int64
GEN_PHONE_FL                  30133 non-null int64
LOAN_NUM_TOTAL                30133 non-null int64
LOAN_NUM_CLOSED               30133 non-null int64
LOAN_NUM_PAYM                 30133 non-null int64
LOAN_DLQ_NUM                  30133 non-null int64
LOAN_MAX_DLQ                  30133 non-null int64
LOAN_AVG_DLQ_AMT              30133 non-null float64
LOAN_MAX_DLQ_AMT              30133 non-null float64
PREVIOUS_CARD_NUM_UTILIZED    600 non-null float64
sample                        30133 non-null object
dtypes: float64(7), int64(32), object(14)
memory usage: 12.2+ MB

C:\Users\Jane\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [72]:
newdf['JOB_DIR'].value_counts()

Участие в основ. деятельности    22613
Вспомогательный техперсонал       2091
Бухгалтерия, финансы, планир.      957
Адм-хоз. и трансп. службы          539
Снабжение и сбыт                   433
Служба безопасности                318
Кадровая служба и секретариат      201
Пр-техн. обесп. и телеком.         145
Юридическая служба                 101
Реклама и маркетинг                 22
Name: JOB_DIR, dtype: int64

In [73]:
newdf.JOB_DIR[df.JOB_DIR.isnull()] = 'Участие в основ. деятельности'
newdf['JOB_DIR'].value_counts()

C:\Users\Jane\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

Участие в основ. деятельности    25326
Вспомогательный техперсонал       2091
Бухгалтерия, финансы, планир.      957
Адм-хоз. и трансп. службы          539
Снабжение и сбыт                   433
Служба безопасности                318
Кадровая служба и секретариат      201
Пр-техн. обесп. и телеком.         145
Юридическая служба                 101
Реклама и маркетинг                 22
Name: JOB_DIR, dtype: int64

In [74]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30133 entries, 0 to 30132
Data columns (total 53 columns):
AGREEMENT_RK                  30133 non-null int64
TARGET                        30133 non-null int64
AGE                           30133 non-null int64
SOCSTATUS_WORK_FL             30133 non-null int64
SOCSTATUS_PENS_FL             30133 non-null int64
GENDER                        30133 non-null int64
CHILD_TOTAL                   30133 non-null int64
DEPENDANTS                    30133 non-null int64
EDUCATION                     30133 non-null object
MARITAL_STATUS                30133 non-null object
GEN_INDUSTRY                  30133 non-null object
GEN_TITLE                     30133 non-null object
ORG_TP_STATE                  30133 non-null object
ORG_TP_FCAPITAL               30133 non-null object
JOB_DIR                       30133 non-null object
FAMILY_INCOME                 30133 non-null object
PERSONAL_INCOME               30133 non-null float64
REG_ADDRESS_PROVINCE          30133 non-null object
FACT_ADDRESS_PROVINCE         30133 non-null object
POSTAL_ADDRESS_PROVINCE       30133 non-null object
TP_PROVINCE                   29543 non-null object
REGION_NM                     30131 non-null object
REG_FACT_FL                   30133 non-null int64
FACT_POST_FL                  30133 non-null int64
REG_POST_FL                   30133 non-null int64
REG_FACT_POST_FL              30133 non-null int64
REG_FACT_POST_TP_FL           30133 non-null int64
FL_PRESENCE_FL                30133 non-null int64
OWN_AUTO                      30133 non-null int64
AUTO_RUS_FL                   30133 non-null int64
HS_PRESENCE_FL                30133 non-null int64
COT_PRESENCE_FL               30133 non-null int64
GAR_PRESENCE_FL               30133 non-null int64
LAND_PRESENCE_FL              30133 non-null int64
CREDIT                        30133 non-null float64
TERM                          30133 non-null int64
FST_PAYMENT                   30133 non-null float64
DL_DOCUMENT_FL                30133 non-null int64
GPF_DOCUMENT_FL               30133 non-null int64
FACT_LIVING_TERM              30133 non-null int64
WORK_TIME                     27416 non-null float64
FACT_PHONE_FL                 30133 non-null int64
REG_PHONE_FL                  30133 non-null int64
GEN_PHONE_FL                  30133 non-null int64
LOAN_NUM_TOTAL                30133 non-null int64
LOAN_NUM_CLOSED               30133 non-null int64
LOAN_NUM_PAYM                 30133 non-null int64
LOAN_DLQ_NUM                  30133 non-null int64
LOAN_MAX_DLQ                  30133 non-null int64
LOAN_AVG_DLQ_AMT              30133 non-null float64
LOAN_MAX_DLQ_AMT              30133 non-null float64
PREVIOUS_CARD_NUM_UTILIZED    600 non-null float64
sample                        30133 non-null object
dtypes: float64(7), int64(32), object(14)
memory usage: 12.2+ MB

In [75]:
#когда дело дошло до регионов - мы заменяем их на коды их благополучности, а там, где пропуски - ставим самый распространенный
newdf['TP_PROVINCE'].value_counts()

Краснодарский край         1537
Кемеровская область        1283
Алтайский край              863
Ставропольский край         842
Читинская область           821
Ростовская область          788
Приморский край             786
Челябинская область         712
Кировская область           689
Свердловская область        683
Саратовская область         635
Вологодская область         625
Волгоградская область       624
Воронежская область         582
Красноярский край           576
Омская область              544
Татарстан                   526
Тульская область            507
Оренбургская область        500
Хабаровский край            492
Санкт-Петербург             489
Новосибирская область       477
Самарская область           470
Архангельская область       470
Амурская область            432
Курская область             420
Иркутская область           419
Белгородская область        412
Ярославская область         407
Бурятия                     390
                           ...
Ханты-Мансийский АО         323
Ульяновская область         322
Пензенская область          319
Башкирия                    317
Тюменская область           316
Чувашия                     316
Рязанская область           315
Смоленская область          301
Томская область             300
Калининградская область     300
Пермская область            299
Псковская область           297
Мурманская область          284
Карелия                     283
Орловская область           279
Якутия                      265
Астраханская область        260
Костромская область         256
Калужская область           242
Нижегородская область       194
Новгородская область        185
Адыгея                      180
Камчатская область          175
Марийская республика        159
Горный Алтай                151
Еврейская АО                139
Сахалинская область         136
Магаданская область          51
Москва                       43
Кабардино-Балкария           17
Name: TP_PROVINCE, Length: 70, dtype: int64

In [85]:
df_regions['Region_name'].value_counts()

Самарская область                      1
Кабардино-Балкарская Республика        1
Камчатский край                        1
Калужская область                      1
Костромская область                    1
Тульская область                       1
Московская область                     1
Тюменская область                      1
Иркутская область                      1
Свердловская область                   1
Чеченская Республика                   1
Забайкальский край                     1
Кировская область                      1
Республика Тыва                        1
Томская область                        1
Ивановская область                     1
Брянская область                       1
Республика Саха Якутия                 1
Севастополь                            1
Республика Коми                        1
Красноярский край                      1
Белгородская область                   1
Республика Северная Осетия - Алания    1
Новосибирская область                  1
Ненецкий АО                            1
Республика Мордовия                    1
Республика Башкортостан                1
Республика Калмыкия                    1
Республика Дагестан                    1
Республика Алтай                       1
                                      ..
Калининградская область                1
Амурская область                       1
Оренбургская область                   1
Республика Бурятия                     1
Карачаево-Черкесская Республика        1
Республика Крым                        1
Орловская область                      1
Чувашская Республика                   1
Еврейская авт.область                  1
Вологодская область                    1
Кемеровская область                    1
Москва                                 1
Тамбовская область                     1
Республика Карелия                     1
Ставропольский край                    1
Волгоградская область                  1
Республика Марий Эл                    1
Хабаровский край                       1
Пермский край                          1
Нижегородская область                  1
Архангельская область                  1
Курганская область                     1
Ханты-Мансийский АО                    1
Мурманская область                     1
Магаданская область                    1
Республика Адыгея                      1
Республика Татарстан                   1
Омская область                         1
Владимирская область                   1
Ростовская область                     1
Name: Region_name, Length: 85, dtype: int64

In [86]:
newdf['TP_PROVINCE_CLASS'] = newdf['TP_PROVINCE'].map(df_regions.set_index('Region_name')['Region_class'])

In [90]:
newdf[['TP_PROVINCE','TP_PROVINCE_CLASS']]

                 TP_PROVINCE TP_PROVINCE_CLASS
0          Красноярский край                2B
1          Орловская область               3B2
2                       Коми               NaN
3          Читинская область               NaN
4           Хабаровский край               3B1
5          Кировская область               3B1
6         Курганская область               3B2
7            Томская область               3B1
8             Омская область               3B1
9       Оренбургская область               3B1
10       Челябинская область                2B
11       Вологодская область               3B1
12            Алтайский край               3B1
13         Рязанская область                2A
14       Ханты-Мансийский АО                2B
15      Свердловская область                2A
16        Смоленская область               3B1
17       Саратовская область               3B1
18        Ростовская область                2A
19         Иркутская область                2B
20        Курганская область               3B2
21         Иркутская область                2B
22            Алтайский край               3B1
23              Еврейская АО               NaN
24          Тульская область                2A
25        Ростовская область                2A
26         Орловская область               3B2
27                      Коми               NaN
28        Ивановская область               3B1
29            Алтайский край               3B1
...                      ...               ...
30103    Кемеровская область                2B
30104      Читинская область               NaN
30105    Кемеровская область                2B
30106       Тульская область                2A
30107       Пермская область               NaN
30108  Волгоградская область               3B1
30109    Ярославская область               3B1
30110    Воронежская область                2A
30111     Курганская область               3B2
30112   Свердловская область                2A
30113       Амурская область               3B2
30114         Омская область               3B1
30115    Кемеровская область                2B
30116                   Коми               NaN
30117     Краснодарский край                1A
30118   Марийская республика               NaN
30119      Калужская область                2A
30120     Краснодарский край                1A
30121      Псковская область               3B2
30122                 Адыгея               NaN
30123      Иркутская область                2B
30124   Белгородская область                2A
30125    Ульяновская область               3B1
30126      Красноярский край                2B
30127     Тамбовская область                2A
30128    Воронежская область                2A
30129    Челябинская область                2B
30130       Брянская область               3B1
30131        Приморский край               3B1
30132    Ставропольский край               3B1

[30133 rows x 2 columns]

In [99]:
newdf.TP_PROVINCE_CLASS[newdf.TP_PROVINCE_CLASS.isnull()] = '3B1'

C:\Users\Jane\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [100]:
newdf['TP_PROVINCE_CLASS'].value_counts()

3B1    16102
2A      6311
2B      3790
1A      2069
3B2     1861
Name: TP_PROVINCE_CLASS, dtype: int64

In [101]:
newdf = newdf.drop(['TP_PROVINCE'], axis=1)
newdf.info()

ValueError: labels ['TP_PROVINCE'] not contained in axis

In [102]:
newdf['REG_ADDRESS_PROVINCE_CLASS'] = newdf['REG_ADDRESS_PROVINCE'].map(df_regions.set_index('Region_name')['Region_class'])

,AGREEMENT_RK,TARGET,AGE,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,GENDER,CHILD_TOTAL,DEPENDANTS,EDUCATION,MARITAL_STATUS,...,LOAN_NUM_CLOSED,LOAN_NUM_PAYM,LOAN_DLQ_NUM,LOAN_MAX_DLQ,LOAN_AVG_DLQ_AMT,LOAN_MAX_DLQ_AMT,PREVIOUS_CARD_NUM_UTILIZED,sample,TP_PROVINCE_CLASS,REG_ADDRESS_PROVINCE_CLASS
0,59909969,0,30,1,0,1,1,1,Среднее специальное,Не состоял в браке,...,2,8,0,0,0.0,0.0,NaN,test,2B,2B
1,59910420,0,48,0,1,1,0,0,Среднее,Состою в браке,...,1,15,0,0,0.0,0.0,NaN,test,3B2,3B2
2,59911223,0,35,1,0,0,1,0,Среднее,Не состоял в браке,...,1,1,0,0,0.0,0.0,NaN,test,3B1,NaN
3,59911322,0,22,1,0,0,0,0,Среднее,Не состоял в браке,...,2,9,0,0,0.0,0.0,NaN,test,3B1,NaN
4,59911438,0,27,1,0,1,2,2,Высшее,Состою в браке,...,1,5,0,0,0.0,0.0,NaN,test,3B1,3B1

In [103]:

newdf.REG_ADDRESS_PROVINCE_CLASS[newdf.REG_ADDRESS_PROVINCE_CLASS.isnull()] = '3B1'
newdf['REG_ADDRESS_PROVINCE_CLASS'].value_counts()

C:\Users\Jane\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

3B1    16190
2A      6734
2B      3430
1A      1974
3B2     1805
Name: REG_ADDRESS_PROVINCE_CLASS, dtype: int64

In [105]:
newdf = newdf.drop(['REG_ADDRESS_PROVINCE'], axis=1)
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30133 entries, 0 to 30132
Data columns (total 53 columns):
AGREEMENT_RK                  30133 non-null int64
TARGET                        30133 non-null int64
AGE                           30133 non-null int64
SOCSTATUS_WORK_FL             30133 non-null int64
SOCSTATUS_PENS_FL             30133 non-null int64
GENDER                        30133 non-null int64
CHILD_TOTAL                   30133 non-null int64
DEPENDANTS                    30133 non-null int64
EDUCATION                     30133 non-null object
MARITAL_STATUS                30133 non-null object
GEN_INDUSTRY                  30133 non-null object
GEN_TITLE                     30133 non-null object
ORG_TP_STATE                  30133 non-null object
ORG_TP_FCAPITAL               30133 non-null object
JOB_DIR                       30133 non-null object
FAMILY_INCOME                 30133 non-null object
PERSONAL_INCOME               30133 non-null float64
FACT_ADDRESS_PROVINCE         30133 non-null object
POSTAL_ADDRESS_PROVINCE       30133 non-null object
REGION_NM                     30131 non-null object
REG_FACT_FL                   30133 non-null int64
FACT_POST_FL                  30133 non-null int64
REG_POST_FL                   30133 non-null int64
REG_FACT_POST_FL              30133 non-null int64
REG_FACT_POST_TP_FL           30133 non-null int64
FL_PRESENCE_FL                30133 non-null int64
OWN_AUTO                      30133 non-null int64
AUTO_RUS_FL                   30133 non-null int64
HS_PRESENCE_FL                30133 non-null int64
COT_PRESENCE_FL               30133 non-null int64
GAR_PRESENCE_FL               30133 non-null int64
LAND_PRESENCE_FL              30133 non-null int64
CREDIT                        30133 non-null float64
TERM                          30133 non-null int64
FST_PAYMENT                   30133 non-null float64
DL_DOCUMENT_FL                30133 non-null int64
GPF_DOCUMENT_FL               30133 non-null int64
FACT_LIVING_TERM              30133 non-null int64
WORK_TIME                     27416 non-null float64
FACT_PHONE_FL                 30133 non-null int64
REG_PHONE_FL                  30133 non-null int64
GEN_PHONE_FL                  30133 non-null int64
LOAN_NUM_TOTAL                30133 non-null int64
LOAN_NUM_CLOSED               30133 non-null int64
LOAN_NUM_PAYM                 30133 non-null int64
LOAN_DLQ_NUM                  30133 non-null int64
LOAN_MAX_DLQ                  30133 non-null int64
LOAN_AVG_DLQ_AMT              30133 non-null float64
LOAN_MAX_DLQ_AMT              30133 non-null float64
PREVIOUS_CARD_NUM_UTILIZED    600 non-null float64
sample                        30133 non-null object
TP_PROVINCE_CLASS             30133 non-null object
REG_ADDRESS_PROVINCE_CLASS    30133 non-null object
dtypes: float64(7), int64(32), object(14)
memory usage: 12.2+ MB

In [107]:
newdf['FACT_ADDRESS_PROVINCE_CLASS'] = newdf['FACT_ADDRESS_PROVINCE'].map(df_regions.set_index('Region_name')['Region_class'])

newdf.FACT_ADDRESS_PROVINCE_CLASS[newdf.FACT_ADDRESS_PROVINCE_CLASS.isnull()] = '3B1'
newdf['FACT_ADDRESS_PROVINCE_CLASS'].value_counts()

C:\Users\Jane\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

3B1    16078
2A      6672
2B      3432
1A      2166
3B2     1785
Name: FACT_ADDRESS_PROVINCE_CLASS, dtype: int64

In [108]:
newdf = newdf.drop(['FACT_ADDRESS_PROVINCE'], axis=1)
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30133 entries, 0 to 30132
Data columns (total 53 columns):
AGREEMENT_RK                   30133 non-null int64
TARGET                         30133 non-null int64
AGE                            30133 non-null int64
SOCSTATUS_WORK_FL              30133 non-null int64
SOCSTATUS_PENS_FL              30133 non-null int64
GENDER                         30133 non-null int64
CHILD_TOTAL                    30133 non-null int64
DEPENDANTS                     30133 non-null int64
EDUCATION                      30133 non-null object
MARITAL_STATUS                 30133 non-null object
GEN_INDUSTRY                   30133 non-null object
GEN_TITLE                      30133 non-null object
ORG_TP_STATE                   30133 non-null object
ORG_TP_FCAPITAL                30133 non-null object
JOB_DIR                        30133 non-null object
FAMILY_INCOME                  30133 non-null object
PERSONAL_INCOME                30133 non-null float64
POSTAL_ADDRESS_PROVINCE        30133 non-null object
REGION_NM                      30131 non-null object
REG_FACT_FL                    30133 non-null int64
FACT_POST_FL                   30133 non-null int64
REG_POST_FL                    30133 non-null int64
REG_FACT_POST_FL               30133 non-null int64
REG_FACT_POST_TP_FL            30133 non-null int64
FL_PRESENCE_FL                 30133 non-null int64
OWN_AUTO                       30133 non-null int64
AUTO_RUS_FL                    30133 non-null int64
HS_PRESENCE_FL                 30133 non-null int64
COT_PRESENCE_FL                30133 non-null int64
GAR_PRESENCE_FL                30133 non-null int64
LAND_PRESENCE_FL               30133 non-null int64
CREDIT                         30133 non-null float64
TERM                           30133 non-null int64
FST_PAYMENT                    30133 non-null float64
DL_DOCUMENT_FL                 30133 non-null int64
GPF_DOCUMENT_FL                30133 non-null int64
FACT_LIVING_TERM               30133 non-null int64
WORK_TIME                      27416 non-null float64
FACT_PHONE_FL                  30133 non-null int64
REG_PHONE_FL                   30133 non-null int64
GEN_PHONE_FL                   30133 non-null int64
LOAN_NUM_TOTAL                 30133 non-null int64
LOAN_NUM_CLOSED                30133 non-null int64
LOAN_NUM_PAYM                  30133 non-null int64
LOAN_DLQ_NUM                   30133 non-null int64
LOAN_MAX_DLQ                   30133 non-null int64
LOAN_AVG_DLQ_AMT               30133 non-null float64
LOAN_MAX_DLQ_AMT               30133 non-null float64
PREVIOUS_CARD_NUM_UTILIZED     600 non-null float64
sample                         30133 non-null object
TP_PROVINCE_CLASS              30133 non-null object
REG_ADDRESS_PROVINCE_CLASS     30133 non-null object
FACT_ADDRESS_PROVINCE_CLASS    30133 non-null object
dtypes: float64(7), int64(32), object(14)
memory usage: 12.2+ MB

In [109]:
newdf['POSTAL_ADDRESS_PROVINCE_CLASS'] = newdf['POSTAL_ADDRESS_PROVINCE'].map(df_regions.set_index('Region_name')['Region_class'])

newdf.POSTAL_ADDRESS_PROVINCE_CLASS[newdf.POSTAL_ADDRESS_PROVINCE_CLASS.isnull()] = '3B1'
newdf['POSTAL_ADDRESS_PROVINCE'].value_counts()

C:\Users\Jane\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Краснодарский край             1311
Кемеровская область            1296
Алтайский край                  890
Читинская область               845
Приморский край                 786
Ростовская область              776
Свердловская область            700
Саратовская область             646
Вологодская область             631
Волгоградская область           612
Челябинская область             592
Воронежская область             569
Татарстан                       550
Кировская область               547
Омская область                  546
Тульская область                513
Оренбургская область            502
Архангельская область           487
Хабаровский край                484
Самарская область               474
Красноярский край               462
Башкирия                        456
Новосибирская область           440
Белгородская область            421
Иркутская область               417
Курская область                 417
Тюменская область               412
Московская область              401
Ярославская область             388
Липецкая область                383
                               ...
Карелия                         289
Мурманская область              287
Орловская область               277
Адыгея                          274
Астраханская область            261
Костромская область             254
Ленинградская область           253
Калужская область               246
Кабардино-Балкария              244
Санкт-Петербург                 242
Ханты-Мансийский АО             222
Нижегородская область           220
Новгородская область            188
Карачаево-Черкесия              181
Северная Осетия                 177
Камчатская область              175
Марийская республика            162
Москва                          162
Горный Алтай                    145
Еврейская АО                    144
Сахалинская область             138
Хакасия                         107
Магаданская область              51
Ямало-Ненецкий АО                49
Калмыкия                         48
Усть-Ордынский Бурятский АО       4
Агинский Бурятский АО             3
Дагестан                          1
Коми-Пермяцкий АО                 1
Эвенкийский АО                    1
Name: POSTAL_ADDRESS_PROVINCE, Length: 82, dtype: int64

In [110]:
newdf = newdf.drop(['POSTAL_ADDRESS_PROVINCE'], axis=1)
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30133 entries, 0 to 30132
Data columns (total 53 columns):
AGREEMENT_RK                     30133 non-null int64
TARGET                           30133 non-null int64
AGE                              30133 non-null int64
SOCSTATUS_WORK_FL                30133 non-null int64
SOCSTATUS_PENS_FL                30133 non-null int64
GENDER                           30133 non-null int64
CHILD_TOTAL                      30133 non-null int64
DEPENDANTS                       30133 non-null int64
EDUCATION                        30133 non-null object
MARITAL_STATUS                   30133 non-null object
GEN_INDUSTRY                     30133 non-null object
GEN_TITLE                        30133 non-null object
ORG_TP_STATE                     30133 non-null object
ORG_TP_FCAPITAL                  30133 non-null object
JOB_DIR                          30133 non-null object
FAMILY_INCOME                    30133 non-null object
PERSONAL_INCOME                  30133 non-null float64
REGION_NM                        30131 non-null object
REG_FACT_FL                      30133 non-null int64
FACT_POST_FL                     30133 non-null int64
REG_POST_FL                      30133 non-null int64
REG_FACT_POST_FL                 30133 non-null int64
REG_FACT_POST_TP_FL              30133 non-null int64
FL_PRESENCE_FL                   30133 non-null int64
OWN_AUTO                         30133 non-null int64
AUTO_RUS_FL                      30133 non-null int64
HS_PRESENCE_FL                   30133 non-null int64
COT_PRESENCE_FL                  30133 non-null int64
GAR_PRESENCE_FL                  30133 non-null int64
LAND_PRESENCE_FL                 30133 non-null int64
CREDIT                           30133 non-null float64
TERM                             30133 non-null int64
FST_PAYMENT                      30133 non-null float64
DL_DOCUMENT_FL                   30133 non-null int64
GPF_DOCUMENT_FL                  30133 non-null int64
FACT_LIVING_TERM                 30133 non-null int64
WORK_TIME                        27416 non-null float64
FACT_PHONE_FL                    30133 non-null int64
REG_PHONE_FL                     30133 non-null int64
GEN_PHONE_FL                     30133 non-null int64
LOAN_NUM_TOTAL                   30133 non-null int64
LOAN_NUM_CLOSED                  30133 non-null int64
LOAN_NUM_PAYM                    30133 non-null int64
LOAN_DLQ_NUM                     30133 non-null int64
LOAN_MAX_DLQ                     30133 non-null int64
LOAN_AVG_DLQ_AMT                 30133 non-null float64
LOAN_MAX_DLQ_AMT                 30133 non-null float64
PREVIOUS_CARD_NUM_UTILIZED       600 non-null float64
sample                           30133 non-null object
TP_PROVINCE_CLASS                30133 non-null object
REG_ADDRESS_PROVINCE_CLASS       30133 non-null object
FACT_ADDRESS_PROVINCE_CLASS      30133 non-null object
POSTAL_ADDRESS_PROVINCE_CLASS    30133 non-null object
dtypes: float64(7), int64(32), object(14)
memory usage: 12.2+ MB

In [111]:
for i in newdf.columns: # перебираем все столбцы
    if str(newdf[i].dtype) == 'object': # если тип столбца - object
        print('='*10)
        print(i) # выводим название столбца
        print(set(newdf[i])) # выводим все его значения (но делаем set - чтоб значения не повторялись)
        print('\n') # выводим пустую строку

==========
EDUCATION
{'Высшее', 'Ученая степень', 'Среднее специальное', 'Два и более высших образования', 'Среднее', 'Неполное среднее', 'Неоконченное высшее'}


==========
MARITAL_STATUS
{'Состою в браке', 'Разведен(а)', 'Не состоял в браке', 'Гражданский брак', 'Вдовец/Вдова'}


==========
GEN_INDUSTRY
{'Юридические услуги/нотариальные услуги', 'Нефтегазовая промышленность', 'Государственная служба', 'Энергетика', 'Строительство', 'Химия/Парфюмерия/Фармацевтика', 'Сельское хозяйство', 'Туризм', 'Образование', 'Металлургия/Промышленность/Машиностроение', 'Наука', 'Управляющая компания', 'Здравоохранение', 'Ресторанный бизнес/Общественное питание', 'Страхование', 'Логистика', 'Коммунальное хоз-во/Дорожные службы', 'Подбор персонала', 'Другие сферы', 'Транспорт', 'Информационные технологии', 'ЧОП/Детективная д-ть', 'Сборочные производства', 'Недвижимость', 'Развлечения/Искусство', 'Торговля', 'СМИ/Реклама/PR-агенства', 'Салоны красоты и здоровья', 'Информационные услуги', 'Unknown', 'Маркетинг', 'Банк/Финансы'}


==========
GEN_TITLE
{'Высококвалифиц. специалист', 'Специалист', 'Индивидуальный предприниматель', 'Рабочий', 'Другое', 'Руководитель низшего звена', 'Руководитель среднего звена', 'Работник сферы услуг', 'Военнослужащий по контракту', 'Партнер', 'Руководитель высшего звена', 'Служащий'}


==========
ORG_TP_STATE
{'Частная компания', 'Государственная комп./учреж.', 'Индивидуальный предприниматель', 'Частная ком. с инос. капиталом', 'Некоммерческая организация'}


==========
ORG_TP_FCAPITAL
{'С участием', 'Без участия'}


==========
JOB_DIR
{'Кадровая служба и секретариат', 'Адм-хоз. и трансп. службы', 'Реклама и маркетинг', 'Бухгалтерия, финансы, планир.', 'Пр-техн. обесп. и телеком.', 'Участие в основ. деятельности', 'Служба безопасности', 'Снабжение и сбыт', 'Юридическая служба', 'Вспомогательный техперсонал'}


==========
FAMILY_INCOME
{'от 20000 до 50000 руб.', 'от 10000 до 20000 руб.', 'до 5000 руб.', 'от 5000 до 10000 руб.', 'свыше 50000 руб.'}


==========
REGION_NM
{'ЦЕНТРАЛЬНЫЙ 1', nan, 'ЦЕНТРАЛЬНЫЙ ОФИС', 'ВОСТОЧНО-СИБИРСКИЙ', 'ДАЛЬНЕВОСТОЧНЫЙ', 'ПРИВОЛЖСКИЙ', 'УРАЛЬСКИЙ', 'ЗАПАДНО-СИБИРСКИЙ', 'ЦЕНТРАЛЬНЫЙ 2', 'ЮЖНЫЙ', 'СЕВЕРО-ЗАПАДНЫЙ', 'ПОВОЛЖСКИЙ'}


==========
sample
{'test', 'train'}


==========
TP_PROVINCE_CLASS
{'2A', '2B', '3B1', '3B2', '1A'}


==========
REG_ADDRESS_PROVINCE_CLASS
{'2A', '2B', '3B1', '3B2', '1A'}


==========
FACT_ADDRESS_PROVINCE_CLASS
{'2A', '2B', '3B1', '3B2', '1A'}


==========
POSTAL_ADDRESS_PROVINCE_CLASS
{'2A', '2B', '3B1', '3B2', '1A'}

In [112]:
newdf = newdf.drop(['AGREEMENT_RK'], axis=1)

In [116]:

newdf.WORK_TIME[newdf.WORK_TIME.isnull()] = newdf['WORK_TIME'].median()
newdf['WORK_TIME'].value_counts()

C:\Users\Jane\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

48.0       4322
36.0       2436
24.0       2307
60.0       1894
12.0       1696
72.0       1078
120.0      1063
6.0         911
18.0        827
84.0        826
96.0        773
180.0       617
108.0       552
240.0       434
144.0       396
8.0         376
30.0        372
156.0       327
132.0       324
192.0       281
7.0         279
204.0       274
3.0         262
168.0       259
360.0       243
216.0       232
10.0        225
4.0         224
300.0       220
9.0         204
           ...
3500.0        1
202.0         1
378.0         1
780.0         1
1254.0        1
1728.0        1
232.0         1
265.0         1
1800.0        1
251.0         1
159.0         1
443.0         1
457.0         1
463.0         1
275.0         1
343.0         1
414.0         1
10000.0       1
1120.0        1
127.0         1
560.0         1
337.0         1
458.0         1
350.0         1
519.0         1
201.0         1
391.0         1
398.0         1
117.0         1
469.0         1
Name: WORK_TIME, Length: 372, dtype: int64

In [117]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30133 entries, 0 to 30132
Data columns (total 52 columns):
TARGET                           30133 non-null int64
AGE                              30133 non-null int64
SOCSTATUS_WORK_FL                30133 non-null int64
SOCSTATUS_PENS_FL                30133 non-null int64
GENDER                           30133 non-null int64
CHILD_TOTAL                      30133 non-null int64
DEPENDANTS                       30133 non-null int64
EDUCATION                        30133 non-null object
MARITAL_STATUS                   30133 non-null object
GEN_INDUSTRY                     30133 non-null object
GEN_TITLE                        30133 non-null object
ORG_TP_STATE                     30133 non-null object
ORG_TP_FCAPITAL                  30133 non-null object
JOB_DIR                          30133 non-null object
FAMILY_INCOME                    30133 non-null object
PERSONAL_INCOME                  30133 non-null float64
REGION_NM                        30131 non-null object
REG_FACT_FL                      30133 non-null int64
FACT_POST_FL                     30133 non-null int64
REG_POST_FL                      30133 non-null int64
REG_FACT_POST_FL                 30133 non-null int64
REG_FACT_POST_TP_FL              30133 non-null int64
FL_PRESENCE_FL                   30133 non-null int64
OWN_AUTO                         30133 non-null int64
AUTO_RUS_FL                      30133 non-null int64
HS_PRESENCE_FL                   30133 non-null int64
COT_PRESENCE_FL                  30133 non-null int64
GAR_PRESENCE_FL                  30133 non-null int64
LAND_PRESENCE_FL                 30133 non-null int64
CREDIT                           30133 non-null float64
TERM                             30133 non-null int64
FST_PAYMENT                      30133 non-null float64
DL_DOCUMENT_FL                   30133 non-null int64
GPF_DOCUMENT_FL                  30133 non-null int64
FACT_LIVING_TERM                 30133 non-null int64
WORK_TIME                        30133 non-null float64
FACT_PHONE_FL                    30133 non-null int64
REG_PHONE_FL                     30133 non-null int64
GEN_PHONE_FL                     30133 non-null int64
LOAN_NUM_TOTAL                   30133 non-null int64
LOAN_NUM_CLOSED                  30133 non-null int64
LOAN_NUM_PAYM                    30133 non-null int64
LOAN_DLQ_NUM                     30133 non-null int64
LOAN_MAX_DLQ                     30133 non-null int64
LOAN_AVG_DLQ_AMT                 30133 non-null float64
LOAN_MAX_DLQ_AMT                 30133 non-null float64
PREVIOUS_CARD_NUM_UTILIZED       600 non-null float64
sample                           30133 non-null object
TP_PROVINCE_CLASS                30133 non-null object
REG_ADDRESS_PROVINCE_CLASS       30133 non-null object
FACT_ADDRESS_PROVINCE_CLASS      30133 non-null object
POSTAL_ADDRESS_PROVINCE_CLASS    30133 non-null object
dtypes: float64(7), int64(31), object(14)
memory usage: 12.0+ MB

In [118]:
newdf['PREVIOUS_CARD_NUM_UTILIZED'].value_counts()

1.0    595
2.0      5
Name: PREVIOUS_CARD_NUM_UTILIZED, dtype: int64

In [119]:
#поскольку это количество карт, логично, что там, где нет данных, должны быть нули
newdf.PREVIOUS_CARD_NUM_UTILIZED[newdf.PREVIOUS_CARD_NUM_UTILIZED.isnull()] = 0

C:\Users\Jane\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [120]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30133 entries, 0 to 30132
Data columns (total 52 columns):
TARGET                           30133 non-null int64
AGE                              30133 non-null int64
SOCSTATUS_WORK_FL                30133 non-null int64
SOCSTATUS_PENS_FL                30133 non-null int64
GENDER                           30133 non-null int64
CHILD_TOTAL                      30133 non-null int64
DEPENDANTS                       30133 non-null int64
EDUCATION                        30133 non-null object
MARITAL_STATUS                   30133 non-null object
GEN_INDUSTRY                     30133 non-null object
GEN_TITLE                        30133 non-null object
ORG_TP_STATE                     30133 non-null object
ORG_TP_FCAPITAL                  30133 non-null object
JOB_DIR                          30133 non-null object
FAMILY_INCOME                    30133 non-null object
PERSONAL_INCOME                  30133 non-null float64
REGION_NM                        30131 non-null object
REG_FACT_FL                      30133 non-null int64
FACT_POST_FL                     30133 non-null int64
REG_POST_FL                      30133 non-null int64
REG_FACT_POST_FL                 30133 non-null int64
REG_FACT_POST_TP_FL              30133 non-null int64
FL_PRESENCE_FL                   30133 non-null int64
OWN_AUTO                         30133 non-null int64
AUTO_RUS_FL                      30133 non-null int64
HS_PRESENCE_FL                   30133 non-null int64
COT_PRESENCE_FL                  30133 non-null int64
GAR_PRESENCE_FL                  30133 non-null int64
LAND_PRESENCE_FL                 30133 non-null int64
CREDIT                           30133 non-null float64
TERM                             30133 non-null int64
FST_PAYMENT                      30133 non-null float64
DL_DOCUMENT_FL                   30133 non-null int64
GPF_DOCUMENT_FL                  30133 non-null int64
FACT_LIVING_TERM                 30133 non-null int64
WORK_TIME                        30133 non-null float64
FACT_PHONE_FL                    30133 non-null int64
REG_PHONE_FL                     30133 non-null int64
GEN_PHONE_FL                     30133 non-null int64
LOAN_NUM_TOTAL                   30133 non-null int64
LOAN_NUM_CLOSED                  30133 non-null int64
LOAN_NUM_PAYM                    30133 non-null int64
LOAN_DLQ_NUM                     30133 non-null int64
LOAN_MAX_DLQ                     30133 non-null int64
LOAN_AVG_DLQ_AMT                 30133 non-null float64
LOAN_MAX_DLQ_AMT                 30133 non-null float64
PREVIOUS_CARD_NUM_UTILIZED       30133 non-null float64
sample                           30133 non-null object
TP_PROVINCE_CLASS                30133 non-null object
REG_ADDRESS_PROVINCE_CLASS       30133 non-null object
FACT_ADDRESS_PROVINCE_CLASS      30133 non-null object
POSTAL_ADDRESS_PROVINCE_CLASS    30133 non-null object
dtypes: float64(7), int64(31), object(14)
memory usage: 12.0+ MB

In [121]:
newdf=pd.get_dummies(newdf)
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30133 entries, 0 to 30132
Columns: 149 entries, TARGET to POSTAL_ADDRESS_PROVINCE_CLASS_3B2
dtypes: float64(7), int64(31), uint8(111)
memory usage: 11.9 MB

In [126]:
list(newdf)

['TARGET',
 'AGE',
 'SOCSTATUS_WORK_FL',
 'SOCSTATUS_PENS_FL',
 'GENDER',
 'CHILD_TOTAL',
 'DEPENDANTS',
 'PERSONAL_INCOME',
 'REG_FACT_FL',
 'FACT_POST_FL',
 'REG_POST_FL',
 'REG_FACT_POST_FL',
 'REG_FACT_POST_TP_FL',
 'FL_PRESENCE_FL',
 'OWN_AUTO',
 'AUTO_RUS_FL',
 'HS_PRESENCE_FL',
 'COT_PRESENCE_FL',
 'GAR_PRESENCE_FL',
 'LAND_PRESENCE_FL',
 'CREDIT',
 'TERM',
 'FST_PAYMENT',
 'DL_DOCUMENT_FL',
 'GPF_DOCUMENT_FL',
 'FACT_LIVING_TERM',
 'WORK_TIME',
 'FACT_PHONE_FL',
 'REG_PHONE_FL',
 'GEN_PHONE_FL',
 'LOAN_NUM_TOTAL',
 'LOAN_NUM_CLOSED',
 'LOAN_NUM_PAYM',
 'LOAN_DLQ_NUM',
 'LOAN_MAX_DLQ',
 'LOAN_AVG_DLQ_AMT',
 'LOAN_MAX_DLQ_AMT',
 'PREVIOUS_CARD_NUM_UTILIZED',
 'EDUCATION_Высшее',
 'EDUCATION_Два и более высших образования',
 'EDUCATION_Неоконченное высшее',
 'EDUCATION_Неполное среднее',
 'EDUCATION_Среднее',
 'EDUCATION_Среднее специальное',
 'EDUCATION_Ученая степень',
 'MARITAL_STATUS_Вдовец/Вдова',
 'MARITAL_STATUS_Гражданский брак',
 'MARITAL_STATUS_Не состоял в браке',
 'MARITAL_STATUS_Разведен(а)',
 'MARITAL_STATUS_Состою в браке',
 'GEN_INDUSTRY_Unknown',
 'GEN_INDUSTRY_Банк/Финансы',
 'GEN_INDUSTRY_Государственная служба',
 'GEN_INDUSTRY_Другие сферы',
 'GEN_INDUSTRY_Здравоохранение',
 'GEN_INDUSTRY_Информационные технологии',
 'GEN_INDUSTRY_Информационные услуги',
 'GEN_INDUSTRY_Коммунальное хоз-во/Дорожные службы',
 'GEN_INDUSTRY_Логистика',
 'GEN_INDUSTRY_Маркетинг',
 'GEN_INDUSTRY_Металлургия/Промышленность/Машиностроение',
 'GEN_INDUSTRY_Наука',
 'GEN_INDUSTRY_Недвижимость',
 'GEN_INDUSTRY_Нефтегазовая промышленность',
 'GEN_INDUSTRY_Образование',
 'GEN_INDUSTRY_Подбор персонала',
 'GEN_INDUSTRY_Развлечения/Искусство',
 'GEN_INDUSTRY_Ресторанный бизнес/Общественное питание',
 'GEN_INDUSTRY_СМИ/Реклама/PR-агенства',
 'GEN_INDUSTRY_Салоны красоты и здоровья',
 'GEN_INDUSTRY_Сборочные производства',
 'GEN_INDUSTRY_Сельское хозяйство',
 'GEN_INDUSTRY_Страхование',
 'GEN_INDUSTRY_Строительство',
 'GEN_INDUSTRY_Торговля',
 'GEN_INDUSTRY_Транспорт',
 'GEN_INDUSTRY_Туризм',
 'GEN_INDUSTRY_Управляющая компания',
 'GEN_INDUSTRY_Химия/Парфюмерия/Фармацевтика',
 'GEN_INDUSTRY_ЧОП/Детективная д-ть',
 'GEN_INDUSTRY_Энергетика',
 'GEN_INDUSTRY_Юридические услуги/нотариальные услуги',
 'GEN_TITLE_Военнослужащий по контракту',
 'GEN_TITLE_Высококвалифиц. специалист',
 'GEN_TITLE_Другое',
 'GEN_TITLE_Индивидуальный предприниматель',
 'GEN_TITLE_Партнер',
 'GEN_TITLE_Работник сферы услуг',
 'GEN_TITLE_Рабочий',
 'GEN_TITLE_Руководитель высшего звена',
 'GEN_TITLE_Руководитель низшего звена',
 'GEN_TITLE_Руководитель среднего звена',
 'GEN_TITLE_Служащий',
 'GEN_TITLE_Специалист',
 'ORG_TP_STATE_Государственная комп./учреж.',
 'ORG_TP_STATE_Индивидуальный предприниматель',
 'ORG_TP_STATE_Некоммерческая организация',
 'ORG_TP_STATE_Частная ком. с инос. капиталом',
 'ORG_TP_STATE_Частная компания',
 'ORG_TP_FCAPITAL_Без участия',
 'ORG_TP_FCAPITAL_С участием',
 'JOB_DIR_Адм-хоз. и трансп. службы',
 'JOB_DIR_Бухгалтерия, финансы, планир.',
 'JOB_DIR_Вспомогательный техперсонал',
 'JOB_DIR_Кадровая служба и секретариат',
 'JOB_DIR_Пр-техн. обесп. и телеком.',
 'JOB_DIR_Реклама и маркетинг',
 'JOB_DIR_Служба безопасности',
 'JOB_DIR_Снабжение и сбыт',
 'JOB_DIR_Участие в основ. деятельности',
 'JOB_DIR_Юридическая служба',
 'FAMILY_INCOME_до 5000 руб.',
 'FAMILY_INCOME_от 10000 до 20000 руб.',
 'FAMILY_INCOME_от 20000 до 50000 руб.',
 'FAMILY_INCOME_от 5000 до 10000 руб.',
 'FAMILY_INCOME_свыше 50000 руб.',
 'REGION_NM_ВОСТОЧНО-СИБИРСКИЙ',
 'REGION_NM_ДАЛЬНЕВОСТОЧНЫЙ',
 'REGION_NM_ЗАПАДНО-СИБИРСКИЙ',
 'REGION_NM_ПОВОЛЖСКИЙ',
 'REGION_NM_ПРИВОЛЖСКИЙ',
 'REGION_NM_СЕВЕРО-ЗАПАДНЫЙ',
 'REGION_NM_УРАЛЬСКИЙ',
 'REGION_NM_ЦЕНТРАЛЬНЫЙ 1',
 'REGION_NM_ЦЕНТРАЛЬНЫЙ 2',
 'REGION_NM_ЦЕНТРАЛЬНЫЙ ОФИС',
 'REGION_NM_ЮЖНЫЙ',
 'sample_test',
 'sample_train',
 'TP_PROVINCE_CLASS_1A',
 'TP_PROVINCE_CLASS_2A',
 'TP_PROVINCE_CLASS_2B',
 'TP_PROVINCE_CLASS_3B1',
 'TP_PROVINCE_CLASS_3B2',
 'REG_ADDRESS_PROVINCE_CLASS_1A',
 'REG_ADDRESS_PROVINCE_CLASS_2A',
 'REG_ADDRESS_PROVINCE_CLASS_2B',
 'REG_ADDRESS_PROVINCE_CLASS_3B1',
 'REG_ADDRESS_PROVINCE_CLASS_3B2',
 'FACT_ADDRESS_PROVINCE_CLASS_1A',
 'FACT_ADDRESS_PROVINCE_CLASS_2A',
 'FACT_ADDRESS_PROVINCE_CLASS_2B',
 'FACT_ADDRESS_PROVINCE_CLASS_3B1',
 'FACT_ADDRESS_PROVINCE_CLASS_3B2',
 'POSTAL_ADDRESS_PROVINCE_CLASS_1A',
 'POSTAL_ADDRESS_PROVINCE_CLASS_2A',
 'POSTAL_ADDRESS_PROVINCE_CLASS_2B',
 'POSTAL_ADDRESS_PROVINCE_CLASS_3B1',
 'POSTAL_ADDRESS_PROVINCE_CLASS_3B2']

### Теперь ваше небольшое исследование

#### Задание 1. Есть ли пропуски в данных? Что с ними сделать?

(единственного верного ответа нет - аргументируйте)

In [ ]:
#см выше, сначала начала писать, а потом уже тут прочитала

#### Задание 2. Есть ли категориальные признаки? Что с ними делать?

In [ ]:
#см выше

#### Задание 3. Фунция предобработки

Напишите функцию, которая бы

* Удаляло идентификатор `AGREEMENT_RK`
* Избавлялась от проблем с '.' и ',' в стобцах PERSONAL_INCOME, CREDIT, FST_PAYMENT, LOAN_AVG_DLQ_AMT, LOAN_MAX_DLQ_AMT
* Что-то делала с пропусками
* Кодировала категориальные признаки

В результате, ваш датафрейм должен содержать только числа и не содержать пропусков!

In [ ]:
#не написала функцию, потому что времени не хватило, я сначала сделала предобработку всю, а потом до этого дошла, временеи переделывать не было

def preproc_data(df_input):
    df_output = df_input.copy()
    
    
    ## Your Code Here
    
    return df_output

In [129]:
#df_preproc = df.pipe(preproc_data)

df_train_preproc = newdf.query('sample_train == "1"').drop(['sample_train'], axis=1)
df_train_preproc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15223 entries, 14910 to 30132
Columns: 148 entries, TARGET to POSTAL_ADDRESS_PROVINCE_CLASS_3B2
dtypes: float64(7), int64(31), uint8(110)
memory usage: 6.1 MB

In [130]:

df_test_preproc = newdf.query('sample_test == "1"').drop(['sample_test'], axis=1)
df_test_preproc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14910 entries, 0 to 14909
Columns: 148 entries, TARGET to POSTAL_ADDRESS_PROVINCE_CLASS_3B2
dtypes: float64(7), int64(31), uint8(110)
memory usage: 6.0 MB

#### Задание 4. Отделите целевую переменную и остальные признаки

Должно получится:
* 2 матрицы: X и X_test
* 2 вектора: y и y_test

#### Задание 5. Обучение и оценка качества разных моделей

In [ ]:
from sklearn.cross_validation import train_test_split
# test_size=0.3, random_state=42

## Your Code Here

In [ ]:
# Попробовать следующие "черные ящики": интерфейс одинаковый 
#     fit, 
#     predict, 
#     predict_proba

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

## Your Code Here

In [ ]:
# Посчитать метрики стандартные
# accuracy, precision, recall

from sklearn.metrics import accuracy_score, precision_score, recall_score

## Your Code Here

In [ ]:
# Визуалищировать эти метрики всех моделей на одном графике (чтоб визуально посмотреть)

## Your Code Here

In [ ]:
# Потроить roc-кривые всех можелей на одном графике
# Вывести roc_auc каждой моделе

## Your Code Here

In [ ]:
from sklearn.cross_validation import cross_val_score
from sklearn.model_selection import StratifiedKFold
# Сделать k-fold (10 фолдов) кросс-валидацию каждой модели
# И посчитать средний roc_auc
cv = StratifiedKFold(n_splits=10, shuffle=True, random_state=123)

## Your Code Here

In [ ]:
# Взять лучшую модель и сделать predict (с вероятностями (!!!)) для test выборки


## Your Code Here

In [ ]:
# Померить roc_auc на тесте